src/n8n_worlkflow_claude/Booking Created - Email + WhatsApp copy.json
{
  "name": "Booking Created - Email + WhatsApp copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a3720c7e-ff73-4c7f-9670-3e8dc0c1bfae",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "90cea2bd-0130-40b1-baec-ef3a0b0b338b",
      "name": "Webhook",
      "webhookId": "a3720c7e-ff73-4c7f-9670-3e8dc0c1bfae"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $node[\"Webhook\"].json[\"body\"][\"property_id\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "d278b0df-e599-4f42-98cc-13cdc876e65e",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "josecarrallodelafuente@gmail.com",
        "fromName": "MY HOST BizMate",
        "toEmail": "={{ $node[\"Webhook\"].json[\"body\"][\"guest_email\"] }}",
        "subject": "=✅ Reserva Confirmada - {{ $('Get a row').item.json.name }}",
        "contentValue": "=¡Hola {{ $node[\"Webhook\"].json[\"body\"][\"guest_name\"] }}!\n\nTu reserva ha sido confirmada exitosamente.\n\nDETALLES DE TU RESERVA:\n━━━━━━━━━━━━━━━━━━━━━━━━━\n🏠 Propiedad: {{ $node[\"Get a row\"].json[\"name\"] }}\n📍 Ubicación: {{ $node[\"Get a row\"].json[\"location\"] }}\n📅 Check-in: {{ $node[\"Webhook\"].json[\"body\"][\"check_in\"] }}\n📅 Check-out: {{ $node[\"Webhook\"].json[\"body\"][\"check_out\"] }}\n👥 Huéspedes: {{ $node[\"Webhook\"].json[\"body\"][\"guests_count\"] }}\n💰 Total: ${{ $node[\"Webhook\"].json[\"body\"][\"total_amount\"] }}\n\nPronto recibirás más información sobre tu llegada.\n\n¡Esperamos verte pronto!\n\nEl equipo de MY HOST BizMate 🌺",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "3cb52a54-27dc-4e2e-aafd-ce3ce766dce3",
      "name": "Send an email",
      "credentials": {
        "sendGridApi": {
          "id": "Y35BYbcV5SYfjBwc",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+34619794604",
        "message": "=🏠 *Nueva Reserva - MY HOST*  {{ $node[\"Webhook\"].json[\"body\"][\"guest_name\"] }} Villa: {{ $node[\"Get a row\"].json[\"name\"] }} 📅 {{ $node[\"Webhook\"].json[\"body\"][\"check_in\"] }} - {{ $node[\"Webhook\"].json[\"body\"][\"check_out\"] }} 💰 ${{ $node[\"Webhook\"].json[\"body\"][\"total_amount\"] }}  ✅ Email confirmación enviado",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "9f077d23-b430-446c-8d38-fcfd02414688",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "Fk1OTTpeYj0yxFaE",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Send an email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an email": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5b691630-3127-4583-b1c5-61b56ab3cb51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "tjiiAB6NlhQBC5lL",
  "tags": []
}