src/n8n_worlkflow_claude/Flujo_B_Recomendaciones_IA_Diarias.json
{
  "name": "Flujo B - Recomendaciones IA Diarias",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule: Daily 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, email, phone, property_id, check_in_date, check_out_date, preferences FROM bookings WHERE status = 'active' AND check_in_date <= CURRENT_DATE AND check_out_date >= CURRENT_DATE"
      },
      "id": "supabase-get-guests",
      "name": "Supabase: Get Active Guests",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase MY HOST"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-check-guests",
      "name": "IF: Has Active Guests?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-guests",
      "name": "Loop: Each Guest",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-5-sonnet-20241022"
            },
            {
              "name": "max_tokens",
              "value": 1024
            },
            {
              "name": "messages",
              "value": "={{ [{ role: 'user', content: `Generate 5 personalized local recommendations for a guest staying in Bali. Guest info: Name: ${$json.name}, Property: ${$json.property_id}, Preferences: ${$json.preferences || 'general tourism'}. Include: 1) A highly-rated restaurant, 2) A cultural activity, 3) A beach/nature spot, 4) A wellness/spa experience, 5) A local hidden gem. For each, provide: name, brief description (2-3 sentences), estimated cost, and why it matches their profile. Format as JSON with structure: {\"recommendations\": [{\"type\": \"\", \"name\": \"\", \"description\": \"\", \"cost\": \"\", \"reason\": \"\"}]}` }] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "claude-ai-recommendations",
      "name": "Claude AI: Generate Recommendations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api-key",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const guestData = $input.first().json;\nconst aiResponse = $input.last().json;\nconst recommendations = JSON.parse(aiResponse.content[0].text).recommendations;\n\nconst emailHtml = `\n<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #FF6B35;\">🌴 Your Personalized Bali Recommendations</h2>\n  <p>Hi ${guestData.name}! 👋</p>\n  <p>We've curated some special recommendations just for you:</p>\n  \n  ${recommendations.map((rec, i) => `\n    <div style=\"margin: 20px 0; padding: 15px; background: #f5f5f5; border-radius: 8px;\">\n      <h3 style=\"color: #FF6B35; margin: 0 0 10px 0;\">${i + 1}. ${rec.name}</h3>\n      <p style=\"margin: 5px 0;\"><strong>Type:</strong> ${rec.type}</p>\n      <p style=\"margin: 5px 0;\">${rec.description}</p>\n      <p style=\"margin: 5px 0;\"><strong>Cost:</strong> ${rec.cost}</p>\n      <p style=\"margin: 5px 0; color: #666;\"><em>${rec.reason}</em></p>\n    </div>\n  `).join('')}\n  \n  <p style=\"margin-top: 30px;\">Enjoy your stay in Bali! 🏖️</p>\n  <p style=\"color: #666; font-size: 12px;\">- Your MY HOST BizMate Team</p>\n</body>\n</html>\n`;\n\nconst whatsappText = `🌴 *Personalized Bali Recommendations for ${guestData.name}*\\n\\n${recommendations.map((rec, i) => `*${i + 1}. ${rec.name}* (${rec.type})\\n${rec.description}\\n💰 ${rec.cost}\\n`).join('\\n')}`;\n\nreturn {\n  json: {\n    guestId: guestData.id,\n    guestName: guestData.name,\n    guestEmail: guestData.email,\n    guestPhone: guestData.phone,\n    emailSubject: '🌴 Your Personalized Bali Recommendations',\n    emailHtml: emailHtml,\n    whatsappText: whatsappText,\n    recommendations: recommendations\n  }\n};"
      },
      "id": "format-message",
      "name": "Format: Email & WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "fromEmail": "josecarrallodelafuente@gmail.com",
        "toEmail": "={{ $json.guestEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "sendgrid-email",
      "name": "SendGrid: Send Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [1450, 100],
      "credentials": {
        "sendGridApi": {
          "id": "sendgrid-credentials",
          "name": "SendGrid MY HOST"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/YOUR_PHONE_NUMBER_ID/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WHATSAPP_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.guestPhone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ { body: $json.whatsappText } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "whatsapp-send",
      "name": "WhatsApp: Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "recommendation_logs",
        "columns": {
          "mappingMode": "defineBelow",
          "values": {
            "guest_id": "={{ $json.guestId }}",
            "guest_name": "={{ $json.guestName }}",
            "sent_at": "={{ $now }}",
            "email_sent": true,
            "whatsapp_sent": true,
            "recommendations_count": "={{ $json.recommendations.length }}",
            "status": "success"
          }
        },
        "options": {}
      },
      "id": "supabase-log",
      "name": "Supabase: Log Execution",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1650, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase MY HOST"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "console.error('Error in Flujo B:', $input.first().json.error);\nreturn { json: { error: $input.first().json.error, timestamp: $now } };"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule: Daily 9 AM": {
      "main": [
        [
          {
            "node": "Supabase: Get Active Guests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Get Active Guests": {
      "main": [
        [
          {
            "node": "IF: Has Active Guests?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Active Guests?": {
      "main": [
        [
          {
            "node": "Loop: Each Guest",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop: Each Guest": {
      "main": [
        [
          {
            "node": "Claude AI: Generate Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI: Generate Recommendations": {
      "main": [
        [
          {
            "node": "Format: Email & WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format: Email & WhatsApp": {
      "main": [
        [
          {
            "node": "SendGrid: Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp: Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendGrid: Send Email": {
      "main": [
        [
          {
            "node": "Supabase: Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp: Send Message": {
      "main": [
        [
          {
            "node": "Loop: Each Guest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Log Execution": {
      "main": [
        [
          {
            "node": "Loop: Each Guest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "flujo-b-recomendaciones-ia",
  "tags": []
}
