src/n8n_worlkflow_claude/MY HOST - Booking Confirmation Flow (Emial=WhatsApp Meta).json
{
  "name": "MY HOST - Booking Confirmation Flow (Emial=WhatsApp Meta)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "79c1a8ad-5ad2-49b9-986a-c51e5e48b9b9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b21ca4f0-7e21-44c4-93fe-12294c250042",
      "name": "Webhook",
      "webhookId": "79c1a8ad-5ad2-49b9-986a-c51e5e48b9b9"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $node[\"Webhook\"].json[\"body\"][\"property_id\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "435a99ce-1491-4a0e-8b24-b18d999055a7",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "josecarrallodelafuente@gmail.com",
        "fromName": "MY HOST BizMate",
        "toEmail": "={{ $node[\"Webhook\"].json[\"body\"][\"guest_email\"] }}",
        "subject": "=✅ Reserva Confirmada - {{ $('Get a row').item.json.name }}",
        "contentValue": "=¡Hola {{ $node[\"Webhook\"].json[\"body\"][\"guest_name\"] }}!\n\nTu reserva ha sido confirmada exitosamente.\n\nDETALLES DE TU RESERVA:\n━━━━━━━━━━━━━━━━━━━━━━━━━\n🏠 Propiedad: {{ $node[\"Get a row\"].json[\"name\"] }}\n📍 Ubicación: {{ $node[\"Get a row\"].json[\"location\"] }}\n📅 Check-in: {{ $node[\"Webhook\"].json[\"body\"][\"check_in\"] }}\n📅 Check-out: {{ $node[\"Webhook\"].json[\"body\"][\"check_out\"] }}\n👥 Huéspedes: {{ $node[\"Webhook\"].json[\"body\"][\"guests_count\"] }}\n💰 Total: ${{ $node[\"Webhook\"].json[\"body\"][\"total_amount\"] }}\n\nPronto recibirás más información sobre tu llegada.\n\n¡Esperamos verte pronto!\n\nEl equipo de MY HOST BizMate 🌺",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "82d8fda3-30a8-44d6-a378-4ebcc3dc2b0e",
      "name": "Send an email",
      "credentials": {
        "sendGridApi": {
          "id": "Y35BYbcV5SYfjBwc",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/846885438510763/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAVeake84yQBPzsi3R7KjwmoMNcrN0dZBW5BQFpFZC3jntZC0YrOxpDYxT6iwWyIaZBnJfWUj0ZAHNRYOsS4ZClpZCnFYAAB2OyoQzgIOEktggGsa4hvBp2NhbZCbxkWrpKR60caNkDQEXwgcCk5Ot1JVlwlg2XQYZB2WBYCsySFZCSvIul7x6jQI5y29YPQBzeG3pmeWRZCPYbrP9SjTnZAi3QtzesI864vDTTH220lYSr0m7WZADAncl5IVcwMogTim6ZCMdFZCxu8GdrKaESq4FgZB9nO"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "{\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"34619794604\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"Prueba desde n8n + Meta API\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        0
      ],
      "id": "c530c75b-9de9-4203-b45f-56cc79c1a040",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Send an email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an email": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02e1fedc-1d08-4b1f-bc32-7ca311970ec6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "w2ABJ0dRFcVKjnpb",
  "tags": []
}