src/n8n_worlkflow_claude/new_property_notification.json
{
  "name": "new_property_notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new_property",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b179f555-10c8-4469-98c7-7b3ef11e1d74",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        112
      ],
      "webhookId": "new-property-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"property_name\"]}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json[\"body\"][\"location\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "f7c9c029-e3c6-4a8e-a787-f5f72d5122de",
      "name": "IF Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@mybizmate.com",
        "toEmail": "josecarrallodelafuente@gmail.com",
        "subject": "🏠 Nueva Propiedad Registrada - MY HOST BizMate",
        "options": {}
      },
      "id": "272d443e-76f4-4d87-85dd-66aa4f70d9b5",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        0,
        -32
      ],
      "webhookId": "dbe3cdc7-cde5-4efa-aee1-95a15a6ba797",
      "credentials": {
        "smtp": {
          "id": "K7jMEulzqk2LzdQp",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/audit_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Mjk0MzIzMiwiZXhwIjoyMDc4NTE5MjMyfQ.RBD16xjgQB__nj5DtLrK2w55uQ4WFJiaa0mfZT2BeJg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Mjk0MzIzMiwiZXhwIjoyMDc4NTE5MjMyfQ.RBD16xjgQB__nj5DtLrK2w55uQ4WFJiaa0mfZT2BeJg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"new_property_created\",\n  \"payload\": {{$json[\"body\"]}}\n}",
        "options": {}
      },
      "id": "dcf96d74-414f-4305-b598-30f067ee72f8",
      "name": "Supabase Insert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "mode": "mergeByPosition",
        "options": {}
      },
      "id": "676ede7d-4ef6-4f8d-b0cc-a946c573d502",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        208,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Notificaciones enviadas correctamente\", \"property_id\": \"{{$json[\"body\"][\"property_id\"]}}\"}",
        "options": {}
      },
      "id": "97a17dee-7bc1-4682-9869-c36119c66f65",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        400,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Validation": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "397148c9-789d-4515-84dd-09a6aa55042b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "6eqkTXvYQLdsazdC",
  "tags": []
}