src/n8n_worlkflow_claude/WF-04 WhatsApp Lead Capture CRON MYHOST Bizmate XXIV.json
{
  "name": "WF-04 WhatsApp Lead Capture CRON MYHOST Bizmate XXIV",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        0
      ],
      "id": "cron-trigger",
      "name": "CRON cada 12h"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/get_whatsapp_leads_without_booking",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"hours_back\": 24 }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -560,
        0
      ],
      "id": "get-leads",
      "name": "Get WhatsApp Sin Booking"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "=$json.phone_number",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "id": "9b07971f-e14c-4d3d-893f-4d9e318aa926"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        0
      ],
      "id": "check-results",
      "name": "¿Hay leads?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb2d.up.railway.app/webhook/inbound-lead-v3",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"slug\": \"izumi-hotel\",\n  \"channel\": \"whatsapp\",\n  \"request_type\": \"inquiry\",\n  \"name\": \"WhatsApp Lead\",\n  \"phone\": $json.phone_number,\n  \"message\": \"Contacto via WhatsApp - sin booking\"\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        -112
      ],
      "id": "call-wf01",
      "name": "Enviar a WF-SP-01"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -80,
        112
      ],
      "id": "no-leads",
      "name": "Sin leads nuevos"
    }
  ],
  "pinData": {},
  "connections": {
    "CRON cada 12h": {
      "main": [
        [
          {
            "node": "Get WhatsApp Sin Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WhatsApp Sin Booking": {
      "main": [
        [
          {
            "node": "¿Hay leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay leads?": {
      "main": [
        [
          {
            "node": "Enviar a WF-SP-01",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin leads nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "dc8450dc-b073-430d-a079-8cf743b473c8",
  "meta": {
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "18rTfM6Q9sfqayuG",
  "tags": []
}