src/n8n_worlkflow_claude/WF-COMM-02-WhatsApp-FINAL.json
{
  "name": "WF-COMM-02 - Send WhatsApp to Guest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "communications/send-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-600, 0],
      "id": "webhook-comm-whatsapp",
      "name": "Webhook - Send WhatsApp",
      "webhookId": "comm-send-whatsapp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chakrahq.com/v1/ext/plugin/whatsapp/2e45a0bd-8600-41b4-ac92-599d59d6221c/api/v19.0/944855278702577/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer qiu1Z9eA3i2hhNjVM3Dm7QEK1Ey6iKQUE5IDWJlsFSAqXk5OlmQoD6DhqEwv9TOdgOVRWSYLWGxm6HfCs2LeCuwiU8Poqrw2Rgmvih0iEawZhoL6TTmMjVjvDUw2WuygAQgQ1vIeLCreDAKOGymGQCuR5bUYDHrRQQrvoMZLYwHw0LaGhFUuf4GxLpQbV3AQj8JDjhP2MzsCUYT4EVCARX6cODl1d1udr4pITGOmHQ793MUBtptq4XCvC8OGD3g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{$json.body.recipient}}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{$json.body.message}}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-400, 0],
      "id": "send-whatsapp-chakra",
      "name": "Chakra - Send WhatsApp"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"success\": true, \"communicationId\": $json.body.communicationId, \"status\": \"sent\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-200, 0],
      "id": "response-success",
      "name": "Response - Success"
    }
  ],
  "connections": {
    "Webhook - Send WhatsApp": {
      "main": [
        [
          {
            "node": "Chakra - Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chakra - Send WhatsApp": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
