src/n8n_worlkflow_claude/WF-IA-01 - OSIRIS AI Assistant - MYHOST Bizmate XIII.json
{
  "name": "WF-IA-01 - OSIRIS AI Assistant - MYHOST Bizmate XIII",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        320
      ],
      "id": "036ff7ac-e428-42c8-bad2-93c368eebfc0",
      "name": "Webhook POST",
      "webhookId": "owner-ai-assistant"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        528
      ],
      "id": "83b6eaec-7922-428d-b364-474b0f0fc14d",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Configuración del input\n// Si viene del webhook, usar esos datos\n// Si es manual, usar datos de prueba\n\nlet input = $input.first()?.json || {};\n\n// Los datos vienen en input.body cuando es webhook\nconst body = input.body || input;\n\n// Datos por defecto para pruebas manuales\nconst tenant_id = body.tenant_id || input.tenant_id || 'c24393db-d318-4d75-8bbf-0fa240b9c1db';\nconst user_id = body.user_id || input.user_id || 'c24393db-d318-4d75-8bbf-0fa240b9c1db';\nconst message = body.message || input.message || '¿Cómo va mi negocio esta semana?';\n\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{ \n  json: { \n    tenant_id, \n    user_id, \n    message,\n    today \n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        432
      ],
      "id": "018ff59d-9dd9-4243-afd8-18b354780817",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        432
      ],
      "id": "1874f7de-98bb-4c11-87b0-292f160f74cf",
      "name": "Get Properties",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "bookings",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        432
      ],
      "id": "30a13968-cca6-48dc-93f2-bddb328e9c6f",
      "name": "Get Bookings",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "alerts",
        "limit": 10,
        "filterType": "string",
        "filterString": "status=eq.open"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        432
      ],
      "id": "d38edd86-29fe-4e70-9751-ca92d28df34b",
      "name": "Get Open Alerts",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// KPI Calculator - Calcula métricas del negocio\n\nconst inputData = $('Normalize Input').first().json;\nconst tenant_id = inputData.tenant_id;\nconst user_id = inputData.user_id;\nconst message = inputData.message;\nconst today = inputData.today;\nconst todayDate = new Date(today);\n\n// Obtener datos\nconst properties = $('Get Properties').all().map(item => item.json);\nconst bookings = $('Get Bookings').all().map(item => item.json);\nconst alerts = $('Get Open Alerts').all().map(item => item.json);\n\n// Fechas de referencia\nconst last7Days = new Date(todayDate);\nlast7Days.setDate(last7Days.getDate() - 7);\nconst last7DaysStr = last7Days.toISOString().split('T')[0];\n\nconst last30Days = new Date(todayDate);\nlast30Days.setDate(last30Days.getDate() - 30);\nconst last30DaysStr = last30Days.toISOString().split('T')[0];\n\nconst next7Days = new Date(todayDate);\nnext7Days.setDate(next7Days.getDate() + 7);\nconst next7DaysStr = next7Days.toISOString().split('T')[0];\n\nconst next30Days = new Date(todayDate);\nnext30Days.setDate(next30Days.getDate() + 30);\nconst next30DaysStr = next30Days.toISOString().split('T')[0];\n\n// ========================================\n// CALCULAR KPIs\n// ========================================\n\n// Bookings últimos 30 días\nconst bookingsLast30Days = bookings.filter(b => \n  b.check_in >= last30DaysStr && \n  b.check_in <= today && \n  b.status === 'confirmed'\n);\n\n// Revenue últimos 30 días\nconst revenueLast30Days = bookingsLast30Days.reduce((sum, b) => {\n  return sum + (parseFloat(b.total_price) || 0);\n}, 0);\n\n// Noches reservadas últimos 30 días\nconst nightsBookedLast30Days = bookingsLast30Days.reduce((sum, b) => {\n  const checkIn = new Date(b.check_in);\n  const checkOut = new Date(b.check_out);\n  const nights = Math.ceil((checkOut - checkIn) / (1000 * 60 * 60 * 24));\n  return sum + (nights > 0 ? nights : 0);\n}, 0);\n\n// Ocupación promedio (aproximada)\nconst totalNightsAvailable = properties.length * 30;\nconst occupancyAvg = totalNightsAvailable > 0 \n  ? Math.round((nightsBookedLast30Days / totalNightsAvailable) * 100) \n  : 0;\n\n// ADR (Average Daily Rate)\nconst adr = nightsBookedLast30Days > 0 \n  ? Math.round(revenueLast30Days / nightsBookedLast30Days) \n  : 0;\n\n// RevPAR\nconst revpar = Math.round(adr * (occupancyAvg / 100));\n\n// Check-ins hoy (incluye confirmed y checked_in)\nconst checkinsToday = bookings.filter(b => b.check_in === today && (b.status === 'confirmed' || b.status === 'checked_in'));\n\n// Check-outs hoy (incluye confirmed y checked_in)\nconst checkoutsToday = bookings.filter(b => b.check_out === today && (b.status === 'confirmed' || b.status === 'checked_in'));\n\n// Huéspedes in-house (suma de guests, incluye confirmed y checked_in)\nconst inHouseBookings = bookings.filter(b => \n  b.check_in <= today && \n  b.check_out > today && \n  (b.status === 'confirmed' || b.status === 'checked_in')\n);\nconst inHouseGuests = inHouseBookings.reduce((sum, b) => sum + (parseInt(b.guests) || 1), 0);\n\n// Bookings próximos 7 días\nconst bookingsNext7Days = bookings.filter(b => \n  b.check_in >= today && \n  b.check_in <= next7DaysStr && \n  b.status === 'confirmed'\n);\n\n// Bookings próximos 30 días\nconst bookingsNext30Days = bookings.filter(b => \n  b.check_in >= today && \n  b.check_in <= next30DaysStr && \n  b.status === 'confirmed'\n);\n\n// Revenue próximos 7 días\nconst revenueNext7Days = bookingsNext7Days.reduce((sum, b) => {\n  return sum + (parseFloat(b.total_price) || 0);\n}, 0);\n\n// ========================================\n// CANCELACIONES\n// ========================================\nconst cancellationsLast7Days = bookings.filter(b => \n  b.status === 'cancelled' && \n  b.updated_at && \n  b.updated_at.split('T')[0] >= last7DaysStr\n);\n\nconst cancellationsLast30Days = bookings.filter(b => \n  b.status === 'cancelled' && \n  b.updated_at && \n  b.updated_at.split('T')[0] >= last30DaysStr\n);\n\nconst revenueLostCancellations = cancellationsLast30Days.reduce((sum, b) => {\n  return sum + (parseFloat(b.total_price) || 0);\n}, 0);\n\n// ========================================\n// PROPIEDADES SIN RESERVAS\n// ========================================\nconst next14Days = new Date(todayDate);\nnext14Days.setDate(next14Days.getDate() + 14);\nconst next14DaysStr = next14Days.toISOString().split('T')[0];\n\nconst bookingsNext14Days = bookings.filter(b => \n  b.check_in >= today && \n  b.check_in <= next14DaysStr && \n  b.status === 'confirmed'\n);\nconst propertyIdsWithBookings = [...new Set(bookingsNext14Days.map(b => b.property_id))];\nconst propertiesWithoutBookings = properties.filter(p => !propertyIdsWithBookings.includes(p.id));\n\n// ========================================\n// RESUMEN DE PROPIEDADES\n// ========================================\nconst propertySummary = properties.slice(0, 5).map(prop => {\n  const propBookings = bookingsLast30Days.filter(b => b.property_id === prop.id);\n  const propRevenue = propBookings.reduce((sum, b) => sum + (parseFloat(b.total_price) || 0), 0);\n  const propNights = propBookings.reduce((sum, b) => {\n    const nights = Math.ceil((new Date(b.check_out) - new Date(b.check_in)) / (1000 * 60 * 60 * 24));\n    return sum + (nights > 0 ? nights : 0);\n  }, 0);\n  \n  return {\n    id: prop.id,\n    name: prop.name || 'Sin nombre',\n    revenue_30d: propRevenue,\n    nights_30d: propNights,\n    occupancy_30d: Math.round((propNights / 30) * 100)\n  };\n});\n\n// ========================================\n// OUTPUT\n// ========================================\nconst kpis = {\n  // Últimos 30 días\n  revenue_last_30d: revenueLast30Days,\n  nights_booked_30d: nightsBookedLast30Days,\n  occupancy_avg: occupancyAvg,\n  adr: adr,\n  revpar: revpar,\n  \n  // Hoy\n  checkins_today: checkinsToday.length,\n  checkouts_today: checkoutsToday.length,\n  in_house: inHouseGuests,\n  \n  // Próximos días\n  bookings_next_7d: bookingsNext7Days.length,\n  bookings_next_30d: bookingsNext30Days.length,\n  revenue_next_7d: revenueNext7Days,\n  \n  // Cancelaciones\n  cancellations_last_7d: cancellationsLast7Days.length,\n  cancellations_last_30d: cancellationsLast30Days.length,\n  revenue_lost_cancellations: revenueLostCancellations,\n  \n  // Propiedades\n  total_properties: properties.length,\n  properties_without_bookings_14d: propertiesWithoutBookings.length,\n  \n  // Alertas\n  open_alerts: alerts.length\n};\n\nconst context = {\n  tenant_id,\n  user_id,\n  message,\n  today,\n  kpis,\n  properties_summary: propertySummary,\n  open_alerts: alerts.slice(0, 10).map(a => ({\n    type: a.alert_type,\n    title: a.title,\n    severity: a.severity\n  })),\n  properties_without_bookings: propertiesWithoutBookings.slice(0, 5).map(p => p.name || p.id)\n};\n\nreturn [{ json: context }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        432
      ],
      "id": "3f691da5-a82c-4fe8-a9ac-98f7e3ec8ef3",
      "name": "KPI Calculator"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 1000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are OSIRIS, a business assistant expert in hotel and vacation villa management in Bali.\\n\\nLANGUAGE RULE (CRITICAL - MUST FOLLOW):\\n- Analyze ONLY the OWNER'S QUESTION to detect language\\n- If the question contains English words like 'revenue', 'occupancy', 'bookings', 'days', 'what', 'how', 'show', 'my' = respond in ENGLISH\\n- If the question contains Spanish words like 'ingresos', 'ocupación', 'reservas', 'días', 'qué', 'cómo', 'mostrar', 'mi' = respond in SPANISH\\n- If the question contains Indonesian words = respond in INDONESIAN\\n- If language is unclear, default to ENGLISH\\n- NEVER mix languages\\n- Ignore the language of the data, ONLY look at the question\\n\\nRespond clearly, executive-style, and actionable.\\n\\nOWNER'S QUESTION:\\n{{ $json.message }}\\n\\nBUSINESS DATA (today: {{ $json.today }}):\\n\\nKPIs LAST 30 DAYS:\\n- Revenue: ${{ $json.kpis.revenue_last_30d }}\\n- Average occupancy: {{ $json.kpis.occupancy_avg }}%\\n- ADR: ${{ $json.kpis.adr }}\\n\\nTODAY:\\n- Check-ins: {{ $json.kpis.checkins_today }}\\n- In-house guests: {{ $json.kpis.in_house }}\\n\\nUPCOMING:\\n- Bookings next 7 days: {{ $json.kpis.bookings_next_7d }}\\n- Expected revenue 7 days: ${{ $json.kpis.revenue_next_7d }}\\n\\nCANCELLATIONS:\\n- Last 7 days: {{ $json.kpis.cancellations_last_7d }}\\n\\nPROPERTIES:\\n- Total: {{ $json.kpis.total_properties }}\\n- Without bookings next 14 days: {{ $json.kpis.properties_without_bookings_14d }}\\n\\nRESPOND:\\n1. Direct answer to the question with concrete data\\n2. If relevant, mention 1-2 important insights\\n3. Suggest 1 concrete action if applicable\\n4. If there are cancellations (more than 0), always mention them\\n\\nBe concise (max 300 words). Do not invent data.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        432
      ],
      "id": "61b56cfb-def3-48ec-89ce-854ee0e0a1ac",
      "name": "Claude AI Response"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={\n  \"tenant_id\": \"{{ $('KPI Calculator').item.json.tenant_id }}\",\n  \"user_id\": \"{{ $('KPI Calculator').item.json.user_id }}\",\n  \"message\": {{ JSON.stringify($('KPI Calculator').item.json.message) }},\n  \"answer\": {{ JSON.stringify($json.choices[0].message.content) }},\n  \"suggested_actions\": [],\n  \"kpis\": {{ JSON.stringify($('KPI Calculator').item.json.kpis) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        432
      ],
      "id": "57c6dba2-f09f-4417-a3fd-6881b1115eaa",
      "name": "Format Response"
    },
    {
      "parameters": {
        "tableId": "ai_chat_history_old",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tenant_id",
              "fieldValue": "={{ $json.tenant_id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.message }}"
            },
            {
              "fieldId": "response",
              "fieldValue": "={{ $json.answer }}"
            },
            {
              "fieldId": "suggested_actions",
              "fieldValue": "= {{ $json.suggested_actions }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        432
      ],
      "id": "30d151c4-d6a7-4e5f-99ff-73426d0ba7cc",
      "name": "Save Chat History",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"reply\": $('Format Response').item.json.answer, \"agent\": \"osiris\", \"intent\": \"insight\", \"kpis\": $('Format Response').item.json.kpis, \"table\": null, \"actions\": [], \"meta\": { \"module\": \"dashboard\", \"sources\": [\"kpi_calculator\"] } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1856,
        432
      ],
      "id": "dd1f81b1-d55d-4881-8f6f-54ee0a4a4cc3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "tableId": "audit_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tenant_id",
              "fieldValue": "={{ $('Save Chat History').item.json.tenant_id }}"
            },
            {
              "fieldId": "action",
              "fieldValue": "owner_ai_assistant"
            },
            {
              "fieldId": "resource_type",
              "fieldValue": "ai_chat"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2048,
        432
      ],
      "id": "5280ca73-362f-4c83-afda-5d053a82ea38",
      "name": "Log audit",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Get Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Properties": {
      "main": [
        [
          {
            "node": "Get Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bookings": {
      "main": [
        [
          {
            "node": "Get Open Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Open Alerts": {
      "main": [
        [
          {
            "node": "KPI Calculator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KPI Calculator": {
      "main": [
        [
          {
            "node": "Claude AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Response": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Save Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Chat History": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Log audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "6b6b5e87-aea3-42b9-ba58-4df3e1da9bf5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "iAMo7NdzYkJxJUkP",
  "tags": []
}