src/n8n_worlkflow_claude/WF-IA-03 - Action Executor MYHOST BizMate.json
{
  "name": "WF-IA-03 - Action Executor MYHOST BizMate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "action-executor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2304,
        -576
      ],
      "id": "56342b2a-9a0d-433e-8ef5-816c4e92fb2d",
      "name": "Webhook Action Executor",
      "webhookId": "action-executor"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2304,
        -368
      ],
      "id": "de2b11b0-178a-4236-b9a0-a86ca2833f5b",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Context Init - Normaliza el input\nconst input = $input.first().json;\n\n// Si viene del webhook\nconst body = input.body || input;\n\n// Generar UUID simple si no viene request_id\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst ctx = {\n  request_id: body.request_id || generateUUID(),\n  property_id: body.property_id || null,\n  actor_user_id: body.actor_user_id || null,\n  tenant_id: body.tenant_id || '00000000-0000-0000-0000-000000000000',\n  source: body.source || 'chat',\n  action_type: body.action_type || 'unknown',\n  params: body.params || {},\n  priority: body.priority || 'medium',\n  requires_confirmation: body.requires_confirmation || false,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: ctx }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        -464
      ],
      "id": "d1716ef7-f389-4339-9c1a-db4c7095317d",
      "name": "Set ctx.init"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "action_requests",
        "limit": 1,
        "filterType": "string",
        "filterString": "=request_id=eq.{{ $json.request_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1840,
        -464
      ],
      "id": "811ccee1-d27f-4c68-8645-a04cd347f367",
      "name": "Check Idempotency",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Verificar si ya existe el request\nconst ctx = $('Set ctx.init').first().json;\nconst existing = $input.all();\n\n// Si hay error o no hay resultados, continuar como nuevo\nif (!existing || existing.length === 0 || !existing[0].json || !existing[0].json.id) {\n  return [{ json: { ...ctx, already_processed: false } }];\n}\n\nreturn [{ json: { ...ctx, already_processed: true, existing_status: existing[0].json.status } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        -464
      ],
      "id": "47608b4e-93ff-45b3-97f4-e13dd9a1f0c1",
      "name": "Check Existing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "already-processed",
              "leftValue": "={{ $json.already_processed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1440,
        -464
      ],
      "id": "ba6448ae-07ea-49fb-84fd-6bc64d7d33fd",
      "name": "Already Processed?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ request_id: $json.request_id, status: 'already_processed', action_type: $json.action_type, result: { existing_status: $json.existing_status }, next_step: 'none' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1248,
        -576
      ],
      "id": "fb09bfa8-9ddc-451b-be30-82116d4f2e64",
      "name": "Respond Already Processed"
    },
    {
      "parameters": {
        "tableId": "action_requests",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "request_id",
              "fieldValue": "={{ $json.request_id }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $json.property_id }}"
            },
            {
              "fieldId": "actor_user_id",
              "fieldValue": "={{ $json.actor_user_id }}"
            },
            {
              "fieldId": "tenant_id",
              "fieldValue": "={{ $json.tenant_id }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.source }}"
            },
            {
              "fieldId": "action_type",
              "fieldValue": "={{ $json.action_type }}"
            },
            {
              "fieldId": "params",
              "fieldValue": "={{ JSON.stringify($json.params) }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldId": "requires_confirmation",
              "fieldValue": "={{ $json.requires_confirmation }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "received"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1248,
        -368
      ],
      "id": "b3eb97ee-954b-46f7-be33-5925e697485f",
      "name": "Create Action Request",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar para el router\nconst ctx = $('Check Existing').first().json;\nconst created = $input.first().json;\n\nreturn [{ json: { ...ctx, action_request_id: created.id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        -368
      ],
      "id": "aae08a3a-3c46-4300-be8c-13151dfa0324",
      "name": "Prepare Routing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "send_whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "create_internal_alert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "resolve_alert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "toggle_campaign",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "request_pricing_reco",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -848,
        -368
      ],
      "id": "2cd91a69-53a9-448f-9172-b21793254d7a",
      "name": "Route by Action Type"
    },
    {
      "parameters": {
        "jsCode": "// Build WhatsApp Body - construye el JSON para la API de WhatsApp\nconst ctx = $input.first().json;\n\nconst whatsappBody = {\n  messaging_product: \"whatsapp\",\n  to: ctx.params.to_phone,\n  type: \"text\",\n  text: {\n    body: ctx.params.message\n  }\n};\n\nreturn [{ json: { whatsapp_body: whatsappBody, original: ctx } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -576
      ],
      "id": "ba891638-fe0a-4b09-a48c-42e2bb20ba7c",
      "name": "Build WhatsApp Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chakrahq.com/v1/ext/plugin/whatsapp/2e45a0bd-8600-41b4-ac92-599d59d6221c/api/v19.0/944855278702577/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer qiu1Z9eA3i2hhNjVM3Dm7QEK1Ey6iKQUE5IDWJlsFSAqXk5OlmQoD6DhqEwv9TOdgOVRWSYLWGxm6HfCs2LeCuwiU8Poqrw2Rgmvih0iEawZhoL6TTmMjVjvDUw2WuygAQgQ1vIeLCreDAKOGymGQCuR5bUYDHrRQQrvoMZLYwHw0LaGhFUuf4GxLpQbV3AQj8JDjhP2MzsCUYT4EVCARX6cODl1d1udr4pITGOmHQ793MUBtptq4XCvC8OGD3g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.whatsapp_body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -576
      ],
      "id": "93d7578b-5609-489c-8831-18e2d891b3e7",
      "name": "Send WhatsApp"
    },
    {
      "parameters": {
        "jsCode": "// Merge response with original context\nconst whatsappResponse = $input.first().json;\nconst original = $('Build WhatsApp Body').first().json.original;\n\nreturn [{ json: { ...whatsappResponse, _ctx: original } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -576
      ],
      "id": "1a5069bc-7d32-47e7-aede-7ea06f4a72d3",
      "name": "Merge Response"
    },
    {
      "parameters": {
        "tableId": "alerts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tenant_id",
              "fieldValue": "={{ $json.tenant_id }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $json.property_id }}"
            },
            {
              "fieldId": "alert_type",
              "fieldValue": "={{ $json.params.issue_type }}"
            },
            {
              "fieldId": "severity",
              "fieldValue": "={{ $json.params.priority }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.params.title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.params.description }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "open"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -592,
        -416
      ],
      "id": "0a084afe-4dfc-44dd-8ae2-9fd6fedd9cb3",
      "name": "Create Alert",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "alerts",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.params.alert_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "resolved"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -592,
        -272
      ],
      "id": "d1330aa8-b2f7-4d14-b7f3-77fccd5b285c",
      "name": "Resolve Alert",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "campaigns",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.params.campaign_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.params.state === 'on' ? 'active' : 'paused' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -592,
        -112
      ],
      "id": "13b8562e-5924-4350-b5bf-4f311b3df510",
      "name": "Toggle Campaign",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "alerts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tenant_id",
              "fieldValue": "={{ $json.tenant_id }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $json.params.target_id }}"
            },
            {
              "fieldId": "alert_type",
              "fieldValue": "pricing_recommendation"
            },
            {
              "fieldId": "severity",
              "fieldValue": "medium"
            },
            {
              "fieldId": "title",
              "fieldValue": "Solicitud de ajuste de precio"
            },
            {
              "fieldId": "description",
              "fieldValue": "=Ajuste solicitado: {{ $json.params.range }}% - Razón: {{ $json.params.reason }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "open"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -592,
        48
      ],
      "id": "864b6709-cb0a-46d2-8136-d5c00e3e3dbe",
      "name": "Request Pricing Reco",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Unknown action type\nconst ctx = $input.first().json;\n\nreturn [{ json: {\n  request_id: ctx.request_id,\n  action_request_id: ctx.action_request_id,\n  status: 'failed',\n  action_type: ctx.action_type,\n  result: { error: 'Unknown action type' },\n  next_step: 'none'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        224
      ],
      "id": "11f975c0-f142-4f8a-ba78-f590bcb165bd",
      "name": "Unknown Action"
    },
    {
      "parameters": {
        "jsCode": "// Preparar respuesta de éxito\nconst result = $input.first().json;\n\n// Intentar obtener ctx de diferentes fuentes\nlet ctx;\ntry {\n  ctx = $('Prepare Routing').first().json;\n} catch(e) {\n  ctx = result._ctx || result;\n}\n\nreturn [{ json: {\n  request_id: ctx.request_id,\n  action_request_id: ctx.action_request_id,\n  status: 'success',\n  action_type: ctx.action_type,\n  result: result,\n  next_step: 'none'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -368
      ],
      "id": "69764f07-cc74-4fdb-82a3-646b6ce42094",
      "name": "Prepare Success Response"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "action_requests",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.action_request_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "result",
              "fieldValue": "={{ JSON.stringify($json.result) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        -368
      ],
      "id": "0b423b4b-4185-4846-852a-4514bc280818",
      "name": "Update Action Request",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "workflow_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tenant_id",
              "fieldValue": "={{ $('Prepare Routing').first().json.tenant_id }}"
            },
            {
              "fieldId": "workflow_name",
              "fieldValue": "WF-IA-03-Action-Executor"
            },
            {
              "fieldId": "execution_status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "execution_data",
              "fieldValue": "={{ JSON.stringify({ request_id: $json.request_id, action_type: $('Prepare Routing').first().json.action_type }) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        336,
        -368
      ],
      "id": "a748dcc1-5da4-47c1-90ea-12557a40fb73",
      "name": "Log Execution",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ request_id: $('Prepare Success Response').first().json.request_id, status: $('Prepare Success Response').first().json.status, action_type: $('Prepare Success Response').first().json.action_type, result: $('Prepare Success Response').first().json.result, next_step: $('Prepare Success Response').first().json.next_step }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        528,
        -368
      ],
      "id": "9f841f58-ab50-489f-8e40-61d19df43186",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Action Executor": {
      "main": [
        [
          {
            "node": "Set ctx.init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set ctx.init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ctx.init": {
      "main": [
        [
          {
            "node": "Check Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Idempotency": {
      "main": [
        [
          {
            "node": "Check Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing": {
      "main": [
        [
          {
            "node": "Already Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Processed?": {
      "main": [
        [
          {
            "node": "Respond Already Processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Action Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Action Request": {
      "main": [
        [
          {
            "node": "Prepare Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Routing": {
      "main": [
        [
          {
            "node": "Route by Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action Type": {
      "main": [
        [
          {
            "node": "Build WhatsApp Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Toggle Campaign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Pricing Reco",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build WhatsApp Body": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Response": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Alert": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Alert": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle Campaign": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Pricing Reco": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Action": {
      "main": [
        [
          {
            "node": "Update Action Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Response": {
      "main": [
        [
          {
            "node": "Update Action Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Action Request": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Execution": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "79c20fa2-04d5-4016-954f-27b13d43f7ff",
  "meta": {
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "ZszUrdhXwi1XGpZD",
  "tags": []
}