src/n8n_worlkflow_claude/WF-IA-01 - OSIRIS AI Assistant V1 - MYHOST Bizmate XIII.json
{
  "name": "WF-IA-01 - OSIRIS AI Assistant V1 - MYHOST Bizmate XIII",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/chat-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        304
      ],
      "id": "webhook-osiris-v2",
      "name": "Webhook POST",
      "webhookId": "osiris-ai-v2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        512
      ],
      "id": "manual-trigger",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Input for AI Agent\nlet input = $input.first()?.json || {};\nconst body = input.body || input;\n\nconst tenant_id = body.tenant_id || 'c24393db-d318-4d75-8bbf-0fa240b9c1db';\nconst user_id = body.user_id || 'c24393db-d318-4d75-8bbf-0fa240b9c1db';\nconst message = body.message || '¿Quién llega hoy?';\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{ \n  json: { \n    tenant_id, \n    user_id, \n    message,\n    today,\n    chatInput: message\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        400
      ],
      "id": "normalize-input",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are OSIRIS, the intelligent business assistant for MY HOST BizMate - a hotel management platform for boutique hotels in Bali.\n\nTODAY'S DATE: {{ $json.today }}\nTENANT ID: {{ $json.tenant_id }}\nPROPERTY ID: 18711359-1378-4d12-9ea6-fb31c0b1bac2 (Izumi Hotel)\n\nYOUR CAPABILITIES:\nYou have access to real-time business data through these tools:\n- get_dashboard_kpis: General KPIs (revenue, occupancy, ADR, RevPAR)\n- get_payments: All payments - can analyze by status (completed, pending, refunded), payment method, date\n- get_bookings: Search and filter bookings by date, status, guest\n- get_leads: Sales pipeline and lead information\n- get_checkins_today: Today's arrivals and departures\n- get_property_stats: Performance metrics by villa/property\n- get_guests: Guest information and history\n- get_alerts: Active system alerts\n\nRULES:\n1. ALWAYS use the appropriate tool(s) to get data before answering\n2. Be concise and executive-style in responses\n3. Provide actionable insights when relevant\n4. If data is not available, say so clearly - never invent numbers\n5. Detect the user's language from their question and respond in the same language\n6. Format currency as USD with $ symbol\n7. When showing multiple items, use clear formatting\n8. For payments: filter results by status field (completed, pending, refunded) based on what user asks\n\nRESPONSE FORMAT:\nProvide direct answers with concrete data. Include:\n- Key metrics relevant to the question\n- Notable insights or anomalies\n- Suggested actions when appropriate"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        512,
        400
      ],
      "id": "ai-agent-osiris",
      "name": "OSIRIS AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        592
      ],
      "id": "openai-model",
      "name": "OpenAI GPT-4o",
      "credentials": {
        "openAiApi": {
          "id": "hlVVk9ThwmKbr4yS",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get dashboard KPIs including revenue, occupancy, ADR, RevPAR for the last 30 days. Use this for general business overview questions.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/get_dashboard_stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_tenant_id\": \"c24393db-d318-4d75-8bbf-0fa240b9c1db\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        224,
        816
      ],
      "id": "tool-dashboard-kpis",
      "name": "get_dashboard_kpis"
    },
    {
      "parameters": {
        "toolDescription": "Search bookings with flexible filters. Can filter by date range, status, or get all bookings. Use for questions about reservations, occupancy, guest stays.",
        "url": "=https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/bookings?select=*,properties(name)&order=check_in.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1408,
        816
      ],
      "id": "tool-bookings",
      "name": "get_bookings"
    },
    {
      "parameters": {
        "toolDescription": "Get sales leads and prospects. Returns lead pipeline with status, source, and follow-up information. Use for questions about sales, prospects, conversion, pipeline.",
        "url": "=https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/leads?select=*&order=created_at.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        336,
        816
      ],
      "id": "tool-leads",
      "name": "get_leads"
    },
    {
      "parameters": {
        "toolDescription": "Get today's check-ins and check-outs. Returns arrivals and departures for the current day. Use for daily operations, front desk questions.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/get_today_checkins",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        928,
        816
      ],
      "id": "tool-checkins-today",
      "name": "get_checkins_today"
    },
    {
      "parameters": {
        "toolDescription": "Get property/villa statistics and performance. Returns occupancy, revenue, and bookings per property. Use for questions about specific villas or property comparison.",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/properties?select=*,bookings(id,total_price,check_in,check_out,status)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1248,
        816
      ],
      "id": "tool-property-stats",
      "name": "get_property_stats"
    },
    {
      "parameters": {
        "toolDescription": "Get guest information and history. Returns guest profiles with contact info and stay history. Use for questions about specific guests or guest segments.",
        "url": "=https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/guests?select=*&order=created_at.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        480,
        816
      ],
      "id": "tool-guests",
      "name": "get_guests"
    },
    {
      "parameters": {
        "toolDescription": "Get active system alerts. Returns open alerts that need attention including maintenance, payments, and operational issues. Use for questions about problems, issues, alerts.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/get_active_alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1088,
        816
      ],
      "id": "tool-alerts",
      "name": "get_alerts"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"reply\": {{ JSON.stringify($json.output) }},\n  \"agent\": \"osiris\",\n  \"intent\": \"insight\",\n  \"kpis\": null,\n  \"table\": null,\n  \"actions\": [],\n  \"meta\": {\n    \"module\": \"dashboard\",\n    \"sources\": [\"ai_agent_tools\"],\n    \"version\": \"v2\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        400
      ],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        400
      ],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "toolDescription": "Get all payments (completed and pending). Returns payment history with guest info, amounts, status, and payment method. Use for any questions about payments, revenue collected, money received, outstanding balances, or payment history.",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/payments?select=*,bookings(guest_name,check_in,check_out)&order=created_at.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        608,
        816
      ],
      "id": "tool-pending-payments",
      "name": "get_payments"
    },
    {
      "parameters": {
        "toolDescription": "Get summary report. Can use predefined periods (daily, weekly, monthly) OR custom date range. Parameters: p_period ('daily'/'weekly'/'monthly'), p_start_date (YYYY-MM-DD), p_end_date (YYYY-MM-DD). Use for \"daily report\", \"weekly summary\", \"report from Jan 1 to Jan 15\", \"resumen del 1 al 20 de enero\", etc.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/get_summary_report",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"p_period\": \"daily\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        752,
        816
      ],
      "id": "9cedd301-61e8-48a3-8982-a243e98b9985",
      "name": "get_summary_report"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "OSIRIS AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o": {
      "ai_languageModel": [
        [
          {
            "node": "OSIRIS AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_dashboard_kpis": {
      "ai_tool": [
        [
          {
            "node": "OSIRIS AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_bookings": {
      "ai_tool": [
        [
          {
            "node": "OSIRIS AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_leads": {
      "ai_tool": [
        [
          {
            "node": "OSIRIS AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_checkins_today": {
      "ai_tool": [
        [
          {
            "node": "OSIRIS AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_property_stats": {
      "ai_tool": [
        [
          {
            "node": "OSIRIS AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_guests": {
      "ai_tool": [
        [
          {
            "node": "OSIRIS AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_alerts": {
      "ai_tool": [
        [
          {
            "node": "OSIRIS AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OSIRIS AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_payments": {
      "ai_tool": [
        [
          {
            "node": "OSIRIS AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_summary_report": {
      "ai_tool": [
        [
          {
            "node": "OSIRIS AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "039eca13-264a-4e89-a812-96fccefc39eb",
  "meta": {
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "v8icxH6TOdCKO823",
  "tags": []
}