src/n8n_worlkflow_claude/WF-SP-02 AI Sales Assistant - LUMINA - MYHOST Bizmate.json
{
  "name": "WF-SP-02 AI Sales Assistant - LUMINA - MYHOST Bizmate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lumina-ai-sales",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "webhook-lumina",
      "name": "Webhook POST",
      "webhookId": "lumina-ai-sales"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "manual-trigger",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Input for LUMINA AI Sales Assistant\nlet input = $input.first()?.json || {};\n\nconst tenant_id = input.tenant_id || 'c24393db-d318-4d75-8bbf-0fa240b9c1db';\nconst lead_id = input.lead_id || null;\nconst message = input.message || 'I want to book a villa for 2 guests from January 15 to January 20, 2026';\nconst channel = input.channel || 'whatsapp';\nconst session_id = input.session_id || lead_id || 'test-session';\n\nreturn [{ \n  json: { \n    tenant_id,\n    lead_id,\n    message,\n    channel,\n    session_id,\n    timestamp: new Date().toISOString()\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        112
      ],
      "id": "normalize-input",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "operation": "read"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        112
      ],
      "id": "get-lead",
      "name": "Get Lead Context",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build context for AI Agent\nconst input = $('Normalize Input').first().json;\nconst lead = $('Get Lead Context').first().json || {};\n\nconst context = {\n  tenant_id: input.tenant_id,\n  lead_id: input.lead_id,\n  message: input.message,\n  channel: input.channel,\n  session_id: input.session_id,\n  lead_context: {\n    name: lead.name || 'Guest',\n    email: lead.email || null,\n    phone: lead.phone || null,\n    stage: lead.stage || 'new',\n    previous_inquiry: lead.message || null\n  }\n};\n\nreturn [{ json: context }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        112
      ],
      "id": "build-context",
      "name": "Build AI Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are LUMINA, the AI Sales & Booking Assistant at Izumi Hotel, a luxury 5-star boutique hotel in Ubud, Bali.\n\nYOUR ROLE: Convert inquiries into confirmed bookings through helpful, professional conversation.\n\nHOTEL INFO:\n- Name: Izumi Hotel\n- Location: Jl Raya Andong N. 18, Ubud, Bali\n- Check-in: 2:00 PM | Check-out: 12:00 PM\n- Opening: Summer 2026\n\nROOMS & RATES (per night):\n- Tropical Room: $450 (1-2 guests)\n- River Villa: $500 (1-2 guests)\n- Nest Villa: $525 (1-2 guests)\n- Cave Villa: $550 (1-2 guests)\n- Sky Villa: $550 (1-2 guests)\n- Blossom Villa: $600 (1-3 guests)\n- 5BR Villa: $2,500 (up to 10 guests)\n\nTOOLS AVAILABLE:\n1. check_availability - Use when guest asks about dates\n2. calculate_price - Use to get total cost for dates/guests\n3. create_booking - Use ONLY after guest confirms all details\n\nCONVERSATION FLOW:\n\n1. GREETING & INQUIRY\n   - Warmly greet the guest\n   - Ask for dates and number of guests if not provided\n\n2. AVAILABILITY CHECK\n   - Use check_availability tool\n   - Present available options with prices\n   - Recommend suitable room based on party size\n\n3. PRICE QUOTE\n   - Use calculate_price tool\n   - Present total clearly: nights × rate = total\n   - Mention any included amenities\n\n4. COLLECT DETAILS (only if guest wants to proceed)\n   - Full name\n   - Email address\n   - Phone with country code\n\n5. CONFIRM & BOOK\n   - Summarize: dates, room, guests, total price, guest details\n   - Ask for explicit confirmation\n   - Only then use create_booking tool\n\nRESPONSE STYLE:\n- Professional yet warm, luxury hospitality tone\n- Concise but complete answers\n- Use guest's name when known\n- Respond in the same language as the guest (English/Spanish/Indonesian)\n- Never be pushy, always helpful\n\nIMPORTANT RULES:\n- Never create a booking without explicit guest confirmation\n- Always use tools for real-time data (don't guess availability)\n- If unsure, ask clarifying questions\n- Dates must be 2026 or 2027 (hotel opens Summer 2026)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        960,
        112
      ],
      "id": "ai-agent-lumina",
      "name": "LUMINA AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        320
      ],
      "id": "openai-model",
      "name": "OpenAI GPT-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "hlVVk9ThwmKbr4yS",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Build AI Context').item.json.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        960,
        320
      ],
      "id": "memory-buffer",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "toolDescription": "Check room availability at Izumi Hotel for specific dates. Use this tool when the guest asks about availability or wants to book. Returns available rooms.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/check_availability",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_property_id\": \"18711359-1378-4d12-9ea6-fb31c0b1bac2\",\n  \"p_check_in\": \"{{ $fromAI('check_in', 'Check-in date in YYYY-MM-DD format') }}\",\n  \"p_check_out\": \"{{ $fromAI('check_out', 'Check-out date in YYYY-MM-DD format') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1120,
        320
      ],
      "id": "tool-availability",
      "name": "check_availability"
    },
    {
      "parameters": {
        "toolDescription": "Calculate the total price for a stay at Izumi Hotel. Use this tool to get exact pricing based on dates and number of guests.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/calculate_booking_price",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_property_id\": \"18711359-1378-4d12-9ea6-fb31c0b1bac2\",\n  \"p_check_in\": \"{{ $fromAI('check_in', 'Check-in date in YYYY-MM-DD format') }}\",\n  \"p_check_out\": \"{{ $fromAI('check_out', 'Check-out date in YYYY-MM-DD format') }}\",\n  \"p_guests\": \"{{ $fromAI('guests', 'Number of guests') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1280,
        320
      ],
      "id": "tool-price",
      "name": "calculate_price"
    },
    {
      "parameters": {
        "toolDescription": "Create a booking at Izumi Hotel. Use this tool ONLY after the guest has explicitly confirmed all details: name, email, phone, dates, and total price.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"property_id\": \"18711359-1378-4d12-9ea6-fb31c0b1bac2\",\n  \"guest_name\": \"{{ $fromAI('guest_name', 'Full name of the guest') }}\",\n  \"guest_email\": \"{{ $fromAI('guest_email', 'Guest email address') }}\",\n  \"guest_phone\": \"{{ $fromAI('guest_phone', 'Guest phone with country code') }}\",\n  \"check_in\": \"{{ $fromAI('check_in', 'Check-in date YYYY-MM-DD') }}\",\n  \"check_out\": \"{{ $fromAI('check_out', 'Check-out date YYYY-MM-DD') }}\",\n  \"guests\": {{ $fromAI('guests', 'Number of guests as integer') }},\n  \"total_price\": {{ $fromAI('total_price', 'Total price as number without $ symbol') }},\n  \"status\": \"confirmed\",\n  \"channel\": \"{{ $('Build AI Context').item.json.channel }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1440,
        320
      ],
      "id": "tool-booking",
      "name": "create_booking"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"lead_id\": \"{{ $('Build AI Context').item.json.lead_id }}\",\n  \"reply\": {{ JSON.stringify($json.output) }},\n  \"suggested_actions\": [],\n  \"channel\": \"{{ $('Build AI Context').item.json.channel }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        112
      ],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        112
      ],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Get Lead Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Context": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "LUMINA AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LUMINA AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "LUMINA AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "LUMINA AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "check_availability": {
      "ai_tool": [
        [
          {
            "node": "LUMINA AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calculate_price": {
      "ai_tool": [
        [
          {
            "node": "LUMINA AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_booking": {
      "ai_tool": [
        [
          {
            "node": "LUMINA AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "f673bb33-28b5-4a5c-a822-f0933c09fae3",
  "meta": {
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "ZDiYX5dpg1S4qWyA",
  "tags": []
}