src/n8n_worlkflow_claude/WF-SP-01 Inbound Lead Handler Multi-Tenant MYHOST Bizmate XXIII.json
{
  "name": "WF-SP-01 Inbound Lead Handler Multi-Tenant MYHOST Bizmate XXIII",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound-lead-v3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2608,
        0
      ],
      "id": "webhook",
      "name": "Webhook",
      "webhookId": "inbound-lead-v3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slug",
              "name": "slug",
              "value": "={{ $json.body.slug || 'izumi-hotel' }}",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $json.body.channel || 'web' }}",
              "type": "string"
            },
            {
              "id": "request_type",
              "name": "request_type",
              "value": "={{ $json.body.request_type || 'info' }}",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "={{ $json.body.name || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email || null }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $json.body.phone || null }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.message || '' }}",
              "type": "string"
            },
            {
              "id": "check_in",
              "name": "check_in",
              "value": "={{ $json.body.check_in || null }}",
              "type": "string"
            },
            {
              "id": "check_out",
              "name": "check_out",
              "value": "={{ $json.body.check_out || null }}",
              "type": "string"
            },
            {
              "id": "guests",
              "name": "guests",
              "value": "={{ $json.body.guests || null }}",
              "type": "number"
            },
            {
              "id": "villa_ids",
              "name": "villa_ids",
              "value": "={{ JSON.stringify($json.body.villa_ids || []) }}",
              "type": "string"
            },
            {
              "id": "raw_payload",
              "name": "raw_payload",
              "value": "={{ JSON.stringify($json.body) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2400,
        0
      ],
      "id": "normalizar",
      "name": "Normalizar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/find_property_by_slug",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_slug\": \"{{ $json.slug }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2208,
        0
      ],
      "id": "buscar-property",
      "name": "Buscar Property"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tenant_id",
              "name": "tenant_id",
              "value": "={{ $json[0]?.tenant_id || 'c24393db-d318-4d75-8bbf-0fa240b9c1db' }}",
              "type": "string"
            },
            {
              "id": "property_id",
              "name": "property_id",
              "value": "={{ $json[0]?.property_id || '18711359-1378-4d12-9ea6-fb31c0b1bac2' }}",
              "type": "string"
            },
            {
              "id": "property_name",
              "name": "property_name",
              "value": "={{ $json[0]?.property_name || 'Izumi Hotel' }}",
              "type": "string"
            },
            {
              "id": "whatsapp_number",
              "name": "whatsapp_number",
              "value": "={{ $json[0]?.whatsapp_number || '+6281325764867' }}",
              "type": "string"
            },
            {
              "id": "slug",
              "name": "slug",
              "value": "={{ $('Normalizar').item.json.slug }}",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $('Normalizar').item.json.channel }}",
              "type": "string"
            },
            {
              "id": "request_type",
              "name": "request_type",
              "value": "={{ $('Normalizar').item.json.request_type }}",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "={{ $('Normalizar').item.json.name }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $('Normalizar').item.json.email }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $('Normalizar').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $('Normalizar').item.json.message }}",
              "type": "string"
            },
            {
              "id": "check_in",
              "name": "check_in",
              "value": "={{ $('Normalizar').item.json.check_in }}",
              "type": "string"
            },
            {
              "id": "check_out",
              "name": "check_out",
              "value": "={{ $('Normalizar').item.json.check_out }}",
              "type": "string"
            },
            {
              "id": "guests",
              "name": "guests",
              "value": "={{ $('Normalizar').item.json.guests }}",
              "type": "number"
            },
            {
              "id": "villa_ids",
              "name": "villa_ids",
              "value": "={{ $('Normalizar').item.json.villa_ids }}",
              "type": "string"
            },
            {
              "id": "raw_payload",
              "name": "raw_payload",
              "value": "={{ $('Normalizar').item.json.raw_payload }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2000,
        0
      ],
      "id": "set-property",
      "name": "Set Property"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/find_lead_by_contact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": {{ $json.phone ? '\"' + $json.phone + '\"' : 'null' }},\n  \"p_email\": {{ $json.email ? '\"' + $json.email + '\"' : 'null' }},\n  \"p_tenant_id\": \"{{ $json.tenant_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1808,
        0
      ],
      "id": "buscar-lead",
      "name": "Buscar Lead",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "existing_lead_id",
              "name": "existing_lead_id",
              "value": "={{ $json.id || '' }}",
              "type": "string"
            },
            {
              "id": "existing_lead_status",
              "name": "existing_lead_status",
              "value": "={{ $json.status || '' }}",
              "type": "string"
            },
            {
              "id": "tenant_id",
              "name": "tenant_id",
              "value": "={{ $('Set Property').item.json.tenant_id }}",
              "type": "string"
            },
            {
              "id": "property_id",
              "name": "property_id",
              "value": "={{ $('Set Property').item.json.property_id }}",
              "type": "string"
            },
            {
              "id": "property_name",
              "name": "property_name",
              "value": "={{ $('Set Property').item.json.property_name }}",
              "type": "string"
            },
            {
              "id": "whatsapp_number",
              "name": "whatsapp_number",
              "value": "={{ $('Set Property').item.json.whatsapp_number }}",
              "type": "string"
            },
            {
              "id": "slug",
              "name": "slug",
              "value": "={{ $('Set Property').item.json.slug }}",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $('Set Property').item.json.channel }}",
              "type": "string"
            },
            {
              "id": "request_type",
              "name": "request_type",
              "value": "={{ $('Set Property').item.json.request_type }}",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "={{ $('Set Property').item.json.name }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $('Set Property').item.json.email }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $('Set Property').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $('Set Property').item.json.message }}",
              "type": "string"
            },
            {
              "id": "check_in",
              "name": "check_in",
              "value": "={{ $('Set Property').item.json.check_in }}",
              "type": "string"
            },
            {
              "id": "check_out",
              "name": "check_out",
              "value": "={{ $('Set Property').item.json.check_out }}",
              "type": "string"
            },
            {
              "id": "guests",
              "name": "guests",
              "value": "={{ $('Set Property').item.json.guests }}",
              "type": "number"
            },
            {
              "id": "villa_ids",
              "name": "villa_ids",
              "value": "={{ $('Set Property').item.json.villa_ids }}",
              "type": "string"
            },
            {
              "id": "raw_payload",
              "name": "raw_payload",
              "value": "={{ $('Set Property').item.json.raw_payload }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        0
      ],
      "id": "merge",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 10,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Clasifica el mensaje en UNA palabra: info, price, availability, o booking. Responde SOLO una palabra.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1408,
        0
      ],
      "id": "clasificar",
      "name": "Clasificar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "intent",
              "name": "intent",
              "type": "string",
              "value": "={{ $json.choices[0].message.content.trim().toLowerCase() }}"
            },
            {
              "id": "intent_score",
              "name": "intent_score",
              "type": "number",
              "value": "={{ {'info': 10, 'price': 20, 'availability': 30, 'booking': 50}[$json.choices[0].message.content.trim().toLowerCase()] || 10 }}"
            },
            {
              "id": "is_hot",
              "name": "is_hot",
              "type": "boolean",
              "value": "={{ $json.choices[0].message.content.trim().toLowerCase() === 'booking' }}"
            },
            {
              "id": "existing_lead_id",
              "name": "existing_lead_id",
              "type": "string",
              "value": "={{ $('Merge').item.json.existing_lead_id }}"
            },
            {
              "id": "existing_lead_status",
              "name": "existing_lead_status",
              "type": "string",
              "value": "={{ $('Merge').item.json.existing_lead_status }}"
            },
            {
              "id": "tenant_id",
              "name": "tenant_id",
              "type": "string",
              "value": "={{ $('Merge').item.json.tenant_id }}"
            },
            {
              "id": "property_id",
              "name": "property_id",
              "type": "string",
              "value": "={{ $('Merge').item.json.property_id }}"
            },
            {
              "id": "property_name",
              "name": "property_name",
              "type": "string",
              "value": "={{ $('Merge').item.json.property_name }}"
            },
            {
              "id": "whatsapp_number",
              "name": "whatsapp_number",
              "type": "string",
              "value": "={{ $('Merge').item.json.whatsapp_number }}"
            },
            {
              "id": "channel",
              "name": "channel",
              "type": "string",
              "value": "={{ $('Merge').item.json.channel }}"
            },
            {
              "id": "request_type",
              "name": "request_type",
              "type": "string",
              "value": "={{ $('Merge').item.json.request_type }}"
            },
            {
              "id": "name",
              "name": "name",
              "type": "string",
              "value": "={{ $('Merge').item.json.name }}"
            },
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "={{ $('Merge').item.json.email }}"
            },
            {
              "id": "phone",
              "name": "phone",
              "type": "string",
              "value": "={{ $('Merge').item.json.phone }}"
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "={{ $('Merge').item.json.message }}"
            },
            {
              "id": "check_in",
              "name": "check_in",
              "type": "string",
              "value": "={{ $('Merge').item.json.check_in }}"
            },
            {
              "id": "check_out",
              "name": "check_out",
              "type": "string",
              "value": "={{ $('Merge').item.json.check_out }}"
            },
            {
              "id": "guests",
              "name": "guests",
              "type": "number",
              "value": "={{ $('Merge').item.json.guests }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        0
      ],
      "id": "set-intent",
      "name": "Set Intent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.existing_lead_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.existing_lead_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Existing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1008,
        0
      ],
      "id": "switch-lead",
      "name": "Switch Lead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $json.tenant_id }}\",\n  \"property_id\": \"{{ $json.property_id }}\",\n  \"name\": \"{{ $json.name }}\",\n  \"phone\": {{ $json.phone ? '\"' + $json.phone + '\"' : 'null' }},\n  \"email\": {{ $json.email ? '\"' + $json.email + '\"' : 'null' }},\n  \"channel\": \"{{ $json.channel }}\",\n  \"status\": \"{{ $json.is_hot ? 'HOT' : 'NEW' }}\",\n  \"intent\": \"{{ $json.intent }}\",\n  \"score\": {{ $json.intent_score }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        -144
      ],
      "id": "insert-lead",
      "name": "INSERT"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/leads?id=eq.{{ $json.existing_lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"last_contacted_at\": \"{{ new Date().toISOString() }}\",\n  \"status\": \"{{ $json.is_hot ? 'HOT' : 'ENGAGED' }}\",\n  \"intent\": \"{{ $json.intent }}\",\n  \"score\": {{ $json.intent_score }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        160
      ],
      "id": "update-lead",
      "name": "UPDATE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/lead_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_id\": \"{{ $json[0]?.id || $json.id }}\",\n  \"event_type\": \"lead_created\",\n  \"payload_json\": {\n    \"channel\": \"{{ $('Set Intent').item.json.channel }}\",\n    \"message\": \"{{ $('Set Intent').item.json.message }}\",\n    \"intent\": \"{{ $('Set Intent').item.json.intent }}\",\n    \"score\": {{ $('Set Intent').item.json.intent_score }}\n  }\n}",
        "options": {}
      },
      "id": "log-created",
      "name": "Log Created",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -608,
        -144
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/lead_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_id\": \"{{ $json[0]?.id || $json.id }}\",\n  \"event_type\": \"message_received\",\n  \"payload_json\": {\n    \"channel\": \"{{ $('Set Intent').item.json.channel }}\",\n    \"message\": \"{{ $('Set Intent').item.json.message }}\",\n    \"intent\": \"{{ $('Set Intent').item.json.intent }}\",\n    \"score\": {{ $('Set Intent').item.json.intent_score }}\n  }\n}",
        "options": {}
      },
      "id": "log-received",
      "name": "Log Received",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -608,
        160
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Set Intent').item.json.channel }}",
                    "rightValue": "whatsapp"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $('Set Intent').item.json.channel }}",
                    "rightValue": "whatsapp"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-canal",
      "name": "Switch Canal",
      "type": "n8n-nodes-base.switch",
      "position": [
        -400,
        0
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chakrahq.com/v1/ext/plugin/whatsapp/2e45a0bd-8600-41b4-ac92-599d59d6221c/api/v19.0/944855278702577/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer qiu1Z9eA3i2hhNjVM3Dm7QEK1Ey6iKQUE5IDWJlsFSAqXk5OlmQoD6DhqEwv9TOdgOVRWSYLWGxm6HfCs2LeCuwiU8Poqrw2Rgmvih0iEawZhoL6TTmMjVjvDUw2WuygAQgQ1vIeLCreDAKOGymGQCuR5bUYDHrRQQrvoMZLYwHw0LaGhFUuf4GxLpQbV3AQj8JDjhP2MzsCUYT4EVCARX6cODl1d1udr4pITGOmHQ793MUBtptq4XCvC8OGD3g"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Set Intent').item.json.phone.replace('+', '') }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Hola {{ $('Set Intent').item.json.name }}! 🌺 Soy Ayu de {{ $('Set Intent').item.json.property_name }}. Gracias por contactarnos. En un momento te atiendo.\"\n  }\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -208,
        -144
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty"
                    },
                    "leftValue": "={{ $('Set Intent').item.json.email }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Yes"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "leftValue": "={{ $('Set Intent').item.json.email }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "No"
            }
          ]
        },
        "options": {}
      },
      "id": "check-email",
      "name": "Check Email",
      "type": "n8n-nodes-base.switch",
      "position": [
        -208,
        160
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"personalizations\": [{\"to\": [{\"email\": \"{{ $('Set Intent').item.json.email }}\"}]}],\n  \"from\": {\"email\": \"josecarrallodelafuente@gmail.com\", \"name\": \"{{ $('Set Intent').item.json.property_name }}\"},\n  \"subject\": \"Gracias por contactar {{ $('Set Intent').item.json.property_name }} 🌺\",\n  \"content\": [{\"type\": \"text/plain\", \"value\": \"Hola {{ $('Set Intent').item.json.name }},\\n\\nGracias por tu interés en {{ $('Set Intent').item.json.property_name }}.\\n\\nHemos recibido tu mensaje y nuestro equipo te contactará pronto.\\n\\nSi tienes alguna pregunta, responde a este email o escríbenos por WhatsApp al {{ $('Set Intent').item.json.whatsapp_number }}.\\n\\nSaludos,\\nEl equipo de {{ $('Set Intent').item.json.property_name }}\"}]\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Email",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        112
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"lead_id\": \"{{ $json[0]?.id || $json.id || 'unknown' }}\",\n  \"message\": \"Lead processed\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar": {
      "main": [
        [
          {
            "node": "Buscar Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Property": {
      "main": [
        [
          {
            "node": "Set Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Property": {
      "main": [
        [
          {
            "node": "Buscar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clasificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar": {
      "main": [
        [
          {
            "node": "Set Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Intent": {
      "main": [
        [
          {
            "node": "Switch Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Lead": {
      "main": [
        [
          {
            "node": "INSERT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT": {
      "main": [
        [
          {
            "node": "Log Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE": {
      "main": [
        [
          {
            "node": "Log Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Created": {
      "main": [
        [
          {
            "node": "Switch Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Received": {
      "main": [
        [
          {
            "node": "Switch Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Canal": {
      "main": [
        [
          {
            "node": "WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email": {
      "main": [
        [
          {
            "node": "Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "3f46f975-16e4-4d47-b025-7b2b122e3893",
  "meta": {
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "CBiOKCQ7eGnTJXQd",
  "tags": []
}