src/n8n_worlkflow_claude/WhatsApp AI Chatbot - MY HOST Bizmate IV (1).json
{
  "name": "WhatsApp AI Chatbot - MY HOST Bizmate IV",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        0
      ],
      "id": "e0923b09-056a-4497-bffa-4f36fa65e451",
      "name": "Webhook",
      "webhookId": "57a8c62f-2693-4b9d-8ac7-919f2f2bcb00"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ad6562c-bb67-4f8f-9426-56727dc02c80",
              "name": "=sender",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "0c8e73b6-47b8-4919-9608-505c0774c2d5",
              "name": "message ",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "2ade7f89-5563-46b0-b28c-38f005c3e93c",
              "name": "=chatInput",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        0
      ],
      "id": "88060359-6f7b-4409-bd73-3eabf38d012b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        160
      ],
      "id": "7037769d-66b1-4a79-956d-84a46ace4ab6",
      "name": "Webhook1",
      "webhookId": "9637de16-4538-4cc6-997f-f2ce6a80464c"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -48,
        160
      ],
      "id": "563b1c67-0fcb-421d-8017-286a52b503e4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        0
      ],
      "id": "09728e01-8b51-4a81-b539-4f726c1188ca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        160,
        224
      ],
      "id": "d8f7b6dd-4a2d-4851-8d6d-55c9298bd339",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hlVVk9ThwmKbr4yS",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sender }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "dc4f1182-99e0-4fa1-840d-d8d3f1550413",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "846885438510763",
        "recipientPhoneNumber": "={{ $('Edit Fields').item.json.sender }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "id": "274d1d82-f7fb-4936-85cb-f2956428f0e2",
      "name": "Send message",
      "webhookId": "59920bde-ac79-4223-95b5-41bbbd1919db",
      "credentials": {
        "whatsAppApi": {
          "id": "nOKGvRRRlstjVf6f",
          "name": "WhatsApp account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "410faf6a-c9fd-429e-af8c-73e283cc8447",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "mEth5Jcuswp2cNXt",
  "tags": []
}