n8n_Supabase/Acceso nuevos registros Supabase & envio email copy.json
{
  "name": "Acceso nuevos registros Supabase & envio email copy",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "=created_at",
              "condition": "gt",
              "keyValue": "2024-11-17"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        -48
      ],
      "id": "7d172d9e-6f74-472a-98d3-e2aa6b169bd4",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "josecarrallodelafuente@gmail.com",
        "fromName": "MY HOST BizMate",
        "toEmail": "josecarrallodelafuente@gmail.com",
        "subject": "=Propiedad Registrada - {{ $json.name }}",
        "contentValue": "=Hola José,\n\nTu propiedad ha sido registrada exitosamente en MY HOST BizMate.\n\n═══════════════════════════════════\nDETALLES DE LA PROPIEDAD\n═══════════════════════════════════\n\nNombre: {{ $json.name }}\nUbicación: {{ $json.location }}\nTipo: {{ $json.type }}\nHabitaciones: {{ $json.beds }}\nPrecio base: ${{ $json.base_price }} por noche\n\n═══════════════════════════════════\n\nGracias por usar MY HOST BizMate.\n\nSaludos,\nEl equipo de MY HOST BizMate\n\n---\nEste es un email automático generado por el sistema.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        96,
        -48
      ],
      "id": "1a311558-db6a-4a8e-834b-e8484849e9eb",
      "name": "Send an email",
      "credentials": {
        "sendGridApi": {
          "id": "Y35BYbcV5SYfjBwc",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2f390313-a7ef-44cf-8040-f3fecc4fd824",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        -48
      ],
      "id": "7e74c2e8-8b5e-4158-ad81-80032ebf9c77",
      "name": "Webhook",
      "webhookId": "2f390313-a7ef-44cf-8040-f3fecc4fd824"
    }
  ],
  "pinData": {},
  "connections": {
    "Get many rows": {
      "main": [
        [
          {
            "node": "Send an email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1e14285-5d3f-421d-acd7-fed5b3af5f48",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "0pwFiMMYwyZeuYjV",
  "tags": []
}