src/n8n_worlkflow_claude/MYHOST_Bizmate_Workflows_Backup_2026-01-10/01_WF-COMM-01_Send_Email_XV.json
{"id":"GJ2oszq3y5vR0bQG","name":"WF-COMM-01 - Send Email to Guest MYHOSTG Bizmate XV","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"communications/send-email","responseMode":"responseNode","options":{}},"id":"2e4c2790-02c3-484d-8921-30224e60df75","name":"Webhook - Send Email","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,112],"webhookId":"comm-send-email"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.channel }}","value2":"email"}]}},"id":"a92f55cf-861d-466d-8b54-1fefc09be71f","name":"Validate Channel = Email","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"resource":"mail","fromEmail":"josecarrallodelafuente@gmail.com","toEmail":"={{ $json.body.recipient }}","subject":"={{ $json.body.subject }}","contentValue":"={{ $json.body.message }}","additionalFields":{}},"id":"a872c903-b4fd-4e45-83e6-e6ac303b2076","name":"SendGrid - Send Email","type":"n8n-nodes-base.sendGrid","typeVersion":1,"position":[0,0],"credentials":{"sendGridApi":{"id":"Y35BYbcV5SYfjBwc","name":"SendGrid account"}}},{"parameters":{"method":"PATCH","url":"https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/communications_log?id=eq.={{ $json.body.communicationId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"status","value":"sent"},{"name":"provider_message_id","value":"={{ $json.id }}"},{"name":"sent_at","value":"={{ $now.toISO() }}"},{"name":"provider_response","value":"={{ JSON.stringify($json) }}"},{"name":"updated_at","value":"={{ $now.toISO() }}"}]},"options":{}},"id":"cdf4b9fd-c012-4819-910f-5e35f986471d","name":"Update Status - Sent","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[192,-256],"credentials":{"httpHeaderAuth":{"id":"cXFMhEOT5elT778w","name":"Header Auth account 3"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"communicationId\": $json.body.communicationId, \"status\": \"sent\", \"provider\": \"SendGrid\", \"messageId\": $('SendGrid - Send Email').item.json.id } }}","options":{}},"id":"358dc6a9-9908-4f86-865f-e1b4be33befd","name":"Response - Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[400,0]},{"parameters":{"method":"PATCH","url":"https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/communications_log?id=eq.={{ $json.body.communicationId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"status","value":"failed"},{"name":"error_message","value":"={{ $json.error?.message || 'Unknown error' }}"},{"name":"retry_count","value":"={{ ($json.retry_count || 0) + 1 }}"},{"name":"updated_at","value":"={{ $now.toISO() }}"}]},"options":{}},"id":"2c8ed037-31b2-48be-ab3b-891fc550fc82","name":"Update Status - Failed","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[288,208],"credentials":{"httpHeaderAuth":{"id":"cXFMhEOT5elT778w","name":"Header Auth account 3"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": false, \"communicationId\": $json.body.communicationId, \"status\": \"failed\", \"error\": $json.error?.message || 'Email send failed' } }}","options":{}},"id":"50b029ce-1553-40e5-994b-16dd64357f0c","name":"Response - Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[496,208]},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": false, \"error\": \"Invalid channel. Expected 'email' but got '\" + $json.body.channel + \"'\" } }}","options":{}},"id":"323e15f7-caa4-4440-b500-90f041ef93ed","name":"Response - Invalid Channel","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-16,176]}],"connections":{"Webhook - Send Email":{"main":[[{"node":"Validate Channel = Email","type":"main","index":0}]]},"Validate Channel = Email":{"main":[[{"node":"SendGrid - Send Email","type":"main","index":0}],[{"node":"Response - Invalid Channel","type":"main","index":0}]]},"SendGrid - Send Email":{"main":[[{"node":"Response - Success","type":"main","index":0}]]},"Update Status - Sent":{"main":[[]]},"Update Status - Failed":{"main":[[{"node":"Response - Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[],"createdAt":"2025-12-27T01:31:02.060Z","updatedAt":"2025-12-27T04:10:13.951Z"}
