src/n8n_worlkflow_claude/MYHOST_Bizmate_Workflows_Backup_2026-01-10/03_DOMUS_Polling_X.json
{"id":"hvXxsxJhU1cuq6q3","name":"DOMUS Polling - Reservations Sync MYHOST Bizmate X","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"2f949ff0-1e56-441c-a88d-63a677d39db3","name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-656,112]},{"parameters":{"method":"=GET","url":"https://api.zodomus.com/reservations-queue","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"channelId","value":"1"},{"name":"propertyId","value":"5814990"}]},"options":{}},"id":"617eef42-fab8-4090-9434-aea860a7e764","name":"DOMUS Get Reservations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,112],"credentials":{"httpBasicAuth":{"id":"XJJ1sQxQDptBpRdw","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-reservations","leftValue":"={{ $json.reservations }}","rightValue":"","operator":{"type":"array","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"1b6e27bb-ee99-44f9-b668-7d916689cceb","name":"Has New Reservations?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"fieldToSplitOut":"reservations","options":{}},"id":"10b485b2-3d63-4902-9e33-4501c0a60d6b","name":"Split Reservations","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"guest-name","name":"guest_name","value":"={{ $json.guestName }}","type":"string"},{"id":"guest-email","name":"guest_email","value":"={{ $json.guestEmail }}","type":"string"},{"id":"guest-phone","name":"guest_phone","value":"={{ $json.guestPhone }}","type":"string"},{"id":"check-in","name":"check_in","value":"={{ $json.checkIn }}","type":"string"},{"id":"check-out","name":"check_out","value":"={{ $json.checkOut }}","type":"string"},{"id":"guests","name":"guests_count","value":"={{ $json.numberOfGuests }}","type":"number"},{"id":"total","name":"total_amount","value":"={{ $json.totalPrice }}","type":"number"},{"id":"booking-id","name":"booking_reference","value":"={{ $json.bookingId }}","type":"string"},{"id":"channel","name":"channel","value":"domus","type":"string"},{"id":"status","name":"status","value":"confirmed","type":"string"},{"id":"property-id","name":"property_id","value":"18711359-1378-4d12-9ea6-fb31c0b1bac2","type":"string"},{"id":"nights","name":"nights","value":"={{ $json.nights || Math.ceil(($json.checkOut - $json.checkIn) / (1000 * 60 * 60 * 24)) }}","type":"number"}]},"options":{}},"id":"b54ce1f3-0222-4210-a24a-ceb96f98043f","name":"Map to Supabase Format","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[224,0]},{"parameters":{"operation":"insert"},"id":"a035f3c3-ca73-4acd-8fe9-08dc629f3298","name":"Insert into Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,0]},{"parameters":{"method":"POST","url":"https://n8n-production-bb2d.up.railway.app/webhook/booking-created","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"id":"084eb0f0-ca4e-4dc5-882a-c3dd0e6e8f53","name":"Trigger Booking Confirmation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,0]},{"parameters":{},"id":"f926b136-c3e9-46f9-9aa3-5653f7465d3d","name":"No New Reservations","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,208]}],"connections":{"Every 5 Minutes":{"main":[[{"node":"DOMUS Get Reservations","type":"main","index":0}]]},"DOMUS Get Reservations":{"main":[[{"node":"Has New Reservations?","type":"main","index":0}]]},"Has New Reservations?":{"main":[[{"node":"Split Reservations","type":"main","index":0}],[{"node":"No New Reservations","type":"main","index":0}]]},"Split Reservations":{"main":[[{"node":"Map to Supabase Format","type":"main","index":0}]]},"Map to Supabase Format":{"main":[[{"node":"Insert into Supabase","type":"main","index":0}]]},"Insert into Supabase":{"main":[[{"node":"Trigger Booking Confirmation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[],"createdAt":"2025-12-18T01:48:22.794Z","updatedAt":"2025-12-18T02:15:15.810Z"}
