src/n8n_worlkflow_claude/MYHOST_Bizmate_Workflows_Backup_2026-01-10/04_Owner_AI_Assistant_XIII.json
{"id":"iAMo7NdzYkJxJUkP","name":"WF-IA-01 - Owner AI Assistant - MYHOST Bizmate XIII","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"owner-ai-assistant","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8adcb0fb-842b-4c31-bb3f-17f30c1aeae1","name":"Webhook POST","webhookId":"owner-ai-assistant"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,208],"id":"c1fa94ae-138c-4d7e-9420-85c091c17ddf","name":"Manual Trigger"},{"parameters":{"jsCode":"let input = $input.first()?.json || {};\nconst tenant_id = input.tenant_id || '00000000-0000-0000-0000-000000000000';\nconst user_id = input.user_id || '00000000-0000-0000-0000-000000000001';\nconst message = input.message || '¿Cómo va mi negocio esta semana?';\nconst today = new Date().toISOString().split('T')[0];\nreturn [{ json: { tenant_id, user_id, message, today } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,112],"id":"88500da7-0a4c-4852-bc70-f779b95a7891","name":"Normalize Input"},{"parameters":{"operation":"getAll","tableId":"properties","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[512,112],"id":"72d9d09f-7db7-4306-acf3-277705b3c238","name":"Get Properties","credentials":{"supabaseApi":{"id":"SJLQzwU9BVHEVAGc","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"bookings","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[752,112],"id":"143c9775-4b67-46fb-9be5-46620b674a0d","name":"Get Bookings","executeOnce":true,"credentials":{"supabaseApi":{"id":"SJLQzwU9BVHEVAGc","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"alerts","limit":10,"filterType":"string","filterString":"status=eq.open"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[944,112],"id":"4d3def0c-9651-4f4f-938e-994540d724d0","name":"Get Open Alerts","executeOnce":true,"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"SJLQzwU9BVHEVAGc","name":"Supabase account"}}},{"parameters":{"jsCode":"// KPI Calculator completo"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,112],"id":"152e45be-7fed-4021-82c5-1fd92427af17","name":"KPI Calculator"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"sk-ant-api03-xxx"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=Claude AI prompt","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1312,112],"id":"56c67c4c-c758-4248-97ef-4050585d314b","name":"Claude AI Response"},{"parameters":{"mode":"raw","jsonOutput":"=Format response","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,112],"id":"8fd22392-1c0d-483d-bd79-d7c8d0923b8f","name":"Format Response"},{"parameters":{"tableId":"ai_chat_history","fieldsUi":{"fieldValues":[]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1744,112],"id":"03a27f1c-eee4-4e5a-988b-ee491d7432fb","name":"Save Chat History","credentials":{"supabaseApi":{"id":"SJLQzwU9BVHEVAGc","name":"Supabase account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ answer: $json.answer }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1920,112],"id":"786e23a8-336d-4304-8cfa-689a7ddb6d5e","name":"Respond to Webhook"},{"parameters":{"tableId":"audit_logs","fieldsUi":{"fieldValues":[]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2112,112],"id":"018b46c3-89e1-4a57-abcf-81cf11e38844","name":"Log audit","credentials":{"supabaseApi":{"id":"SJLQzwU9BVHEVAGc","name":"Supabase account"}}}],"connections":{"Webhook POST":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Get Properties","type":"main","index":0}]]},"Get Properties":{"main":[[{"node":"Get Bookings","type":"main","index":0}]]},"Get Bookings":{"main":[[{"node":"Get Open Alerts","type":"main","index":0}]]},"Get Open Alerts":{"main":[[{"node":"KPI Calculator","type":"main","index":0}]]},"KPI Calculator":{"main":[[{"node":"Claude AI Response","type":"main","index":0}]]},"Claude AI Response":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Save Chat History","type":"main","index":0}]]},"Save Chat History":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Log audit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"tags":[],"createdAt":"2025-12-23T06:10:28.525Z","updatedAt":"2025-12-31T14:33:03.702Z"}
