src/n8n_worlkflow_claude/MYHOST_Bizmate_Workflows_Backup_2026-01-10/06_WhatsApp_AI_Agent_V.json
{"id":"k2hj0rMbG5enhJKS","name":"WhatsApp AI Agent - Izumi Hotel (ChakraHQ) - MY HOST Bizmate V copy","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"610f861f-dac4-4723-a887-1ef6e174d7f5","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-288,0],"id":"e82301e7-1c5d-4afc-b618-89e6a5c1519a","name":"Webhook","webhookId":"610f861f-dac4-4723-a887-1ef6e174d7f5"},{"parameters":{"promptType":"define","text":"={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-96,0],"id":"0fb92d6e-0390-4dce-9105-b16dec198aac","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-96,192],"id":"9fa07371-c03b-410b-9906-c2be78fdd7bc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hlVVk9ThwmKbr4yS","name":"OpenAi account 4"}}},{"parameters":{"method":"POST","url":"https://api.chakrahq.com/v1/ext/plugin/whatsapp/2e45a0bd-8600-41b4-ac92-599d59d6221c/api/v19.0/944855278702577/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer qiu1Z9eA3i2hhNjVM3Dm7QEK1Ey6iKQUE5IDWJlsFSAqXk5OlmQoD6DhqEwv9TOdgOVRWSYLWGxm6HfCs2LeCuwiU8Poqrw2Rgmvih0iEawZhoL6TTmMjVjvDUw2WuygAQgQ1vIeLCreDAKOGymGQCuR5bUYDHrRQQrvoMZLYwHw0LaGhFUuf4GxLpQbV3AQj8JDjhP2MzsCUYT4EVCARX6cODl1d1udr4pITGOmHQ793MUBtptq4XCvC8OGD3g"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({messaging_product: 'whatsapp', to: $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from, type: 'text', text: {body: $('AI Agent').item.json.output}}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[256,0],"id":"30c2fbf3-4209-4b9a-9a5e-6e3ce57eef2d","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[],"createdAt":"2025-12-11T06:51:46.769Z","updatedAt":"2025-12-11T08:25:22.942Z"}
