src/n8n_worlkflow_claude/MYHOST_Bizmate_Workflows_Backup_2026-01-10/07_WF-04_WhatsApp_Lead_Capture_XXIV.json
{"id":"18rTfM6Q9sfqayuG","name":"WF-04 WhatsApp Lead Capture CRON MYHOST Bizmate XXIV","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,0],"id":"cron-trigger","name":"CRON cada 12h"},{"parameters":{"method":"POST","url":"https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/get_whatsapp_leads_without_booking","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{ \"hours_back\": 24 }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-560,0],"id":"get-leads","name":"Get WhatsApp Sin Booking"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"=$json.phone_number","rightValue":0,"operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"9b07971f-e14c-4d3d-893f-4d9e318aa926"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,0],"id":"check-results","name":"¿Hay leads?"},{"parameters":{"method":"POST","url":"https://n8n-production-bb2d.up.railway.app/webhook/inbound-lead-v3","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({slug: 'izumi-hotel', channel: 'whatsapp', request_type: 'inquiry', name: 'WhatsApp Lead', phone: $json.phone_number, message: 'Contacto via WhatsApp - sin booking'}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-80,-112],"id":"call-wf01","name":"Enviar a WF-SP-01"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-80,112],"id":"no-leads","name":"Sin leads nuevos"}],"connections":{"CRON cada 12h":{"main":[[{"node":"Get WhatsApp Sin Booking","type":"main","index":0}]]},"Get WhatsApp Sin Booking":{"main":[[{"node":"¿Hay leads?","type":"main","index":0}]]},"¿Hay leads?":{"main":[[{"node":"Enviar a WF-SP-01","type":"main","index":0}],[{"node":"Sin leads nuevos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:CRON cada 12h":{"recurrenceRules":[]}},"tags":[],"createdAt":"2026-01-06T05:05:19.018Z","updatedAt":"2026-01-06T08:45:31.811Z"}
