src/n8n_worlkflow_claude/MYHOST_Bizmate_Workflows_Backup_2026-01-10/10_GuestJourney_Scheduler_XXII.json
{"id":"cQLiQnqR2AHkYOjd","name":"GuestJourney-Scheduler MYHOST Bizmate XXII","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1056,-96],"id":"545edf68-ec4d-4eb0-91aa-4bf851b0ca54","name":"GuestJourney-Scheduler"},{"parameters":{"url":"https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/bookings?select=id,guest_name,guest_email,guest_phone,check_in,check_out,journey_state,property_id&property_id=eq.18711359-1378-4d12-9ea6-fb31c0b1bac2&status=eq.confirmed","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"xxx"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-624,-96],"id":"4403dacd-1613-4b8f-bae3-91d4d96c37e9","name":"Get Pre-Arrival Bookings","executeOnce":true},{"parameters":{"jsCode":"// Guest Journey Classifier Code"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,-96],"id":"08ba2045-decc-4bf5-b96a-25e6a6dc71e4","name":"Filter 3 Days Before"},{"parameters":{"method":"POST","url":"https://api.chakrahq.com/v1/ext/plugin/whatsapp/xxx","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer xxx"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=WA template","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,-464],"id":"7a7cee0a-4782-450f-a8f6-bfe6d16b18e7","name":"Send WhatsApp"},{"parameters":{"resource":"mail","fromEmail":"josecarrallodelafuente@gmail.com","fromName":"IZUMI Hotel","toEmail":"={{ $json.guest_email }}","subject":"={{ $json.message_subject }}","contentValue":"=Email content","additionalFields":{}},"type":"n8n-nodes-base.sendGrid","typeVersion":1,"position":[-48,-304],"id":"e30b86e9-667f-4395-b341-bdb6cb6c435c","name":"Send an email","credentials":{"sendGridApi":{"id":"Y35BYbcV5SYfjBwc","name":"SendGrid account"}}},{"parameters":{"method":"PATCH","url":"=https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/bookings?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"xxx"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=journey state update","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,-128],"id":"f610c1e0-9fd4-4ba7-80c6-537b11b35c80","name":"Update Journey State"},{"parameters":{"url":"https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/journey_settings?property_id=eq.18711359-1378-4d12-9ea6-fb31c0b1bac2","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"xxx"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-832,-96],"id":"13d9d4e2-2c71-4e5f-8897-ba4e13824e90","name":"Get Journey Settings"},{"parameters":{"method":"POST","url":"https://api.chakrahq.com/xxx","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer xxx"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=Owner notification","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,32],"id":"8d7e910d-c483-4c56-ade5-36fa06435c89","name":"Notify Owner"},{"parameters":{"method":"POST","url":"https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/journey_events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"xxx"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=Log event","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,208],"id":"14ed273b-85ce-421b-b5ca-ffa2b8ca7c47","name":"Log Journey Event"}],"connections":{"GuestJourney-Scheduler":{"main":[[{"node":"Get Journey Settings","type":"main","index":0}]]},"Get Pre-Arrival Bookings":{"main":[[{"node":"Filter 3 Days Before","type":"main","index":0}]]},"Filter 3 Days Before":{"main":[[{"node":"Send WhatsApp","type":"main","index":0},{"node":"Send an email","type":"main","index":0},{"node":"Update Journey State","type":"main","index":0},{"node":"Notify Owner","type":"main","index":0},{"node":"Log Journey Event","type":"main","index":0}]]},"Get Journey Settings":{"main":[[{"node":"Get Pre-Arrival Bookings","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{},"tags":[],"createdAt":"2026-01-01T08:55:32.501Z","updatedAt":"2026-01-05T01:33:18.143Z"}
