n8n_worlkflow_claude/Chatbot WhatsApp + Claude (Webhook Manual) MY HOST Bizmate II.json
{
  "name": "Chatbot WhatsApp + Claude (Webhook Manual) MY HOST Bizmate II",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-verify",
      "name": "Verify (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        208
      ],
      "webhookId": "0f6a104d-3f8b-49a5-bd93-b6b4449db353"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "respond-verify",
      "name": "Respond Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        464,
        208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-messages",
      "name": "Recibir Mensaje (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        400
      ],
      "webhookId": "ec836b2c-56c3-4172-a727-b0e48fd0b277"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "ack-meta",
      "name": "ACK a Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        464,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-message",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-message",
      "name": "Es Mensaje?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        656,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "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"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.entry[0].changes[0].value.messages[0].text.body }}\"\n    }\n  ],\n  \"system\": \"Eres el asistente virtual de MY HOST BIZMATE, una plataforma de gestión de villas vacacionales en Bali. Responde de forma amable, concisa y útil en español. Si te preguntan sobre reservas, actividades o servicios, da información general y ofrece ayuda.\"\n}",
        "options": {}
      },
      "id": "claude-api",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        400
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=846885438510763",
        "recipientPhoneNumber": "34619794604",
        "textBody": "={{ $json.content[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1104,
        400
      ],
      "id": "8865e3bf-973d-4d42-8cd6-76f2ccd7d4a6",
      "name": "Send message",
      "webhookId": "4ce858eb-0da8-4bdb-ba84-e90deb10d212",
      "credentials": {
        "whatsAppApi": {
          "id": "WgPJRWbhlrzbIHH6",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Verify (GET)": {
      "main": [
        [
          {
            "node": "Respond Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recibir Mensaje (POST)": {
      "main": [
        [
          {
            "node": "ACK a Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACK a Meta": {
      "main": [
        [
          {
            "node": "Es Mensaje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Mensaje?": {
      "main": [
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "6436145f-197c-47d8-bc99-9904411cbd0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "P0U2nNLqGzLvermS",
  "tags": []
}