n8n_worlkflow_claude/DOMUS Polling - Reservations Sync.json
{
  "name": "DOMUS Polling - Reservations Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.zodomus.com/reservations-queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channelId",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "http-domus",
      "name": "DOMUS Get Reservations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "domus_api",
          "name": "DOMUS API Credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-reservations",
              "leftValue": "={{ $json.reservations }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-reservations",
      "name": "Has New Reservations?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "reservations",
        "options": {}
      },
      "id": "split-reservations",
      "name": "Split Reservations",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "guest-name",
              "name": "guest_name",
              "value": "={{ $json.guestName }}",
              "type": "string"
            },
            {
              "id": "guest-email",
              "name": "guest_email",
              "value": "={{ $json.guestEmail }}",
              "type": "string"
            },
            {
              "id": "guest-phone",
              "name": "guest_phone",
              "value": "={{ $json.guestPhone }}",
              "type": "string"
            },
            {
              "id": "check-in",
              "name": "check_in",
              "value": "={{ $json.checkIn }}",
              "type": "string"
            },
            {
              "id": "check-out",
              "name": "check_out",
              "value": "={{ $json.checkOut }}",
              "type": "string"
            },
            {
              "id": "guests",
              "name": "guests_count",
              "value": "={{ $json.numberOfGuests }}",
              "type": "number"
            },
            {
              "id": "total",
              "name": "total_amount",
              "value": "={{ $json.totalPrice }}",
              "type": "number"
            },
            {
              "id": "booking-id",
              "name": "booking_reference",
              "value": "={{ $json.bookingId }}",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "domus",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "confirmed",
              "type": "string"
            },
            {
              "id": "property-id",
              "name": "property_id",
              "value": "18711359-1378-4d12-9ea6-fb31c0b1bac2",
              "type": "string"
            },
            {
              "id": "nights",
              "name": "nights",
              "value": "={{ $json.nights || Math.ceil(($json.checkOut - $json.checkIn) / (1000 * 60 * 60 * 24)) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "map-to-supabase",
      "name": "Map to Supabase Format",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "bookings",
        "columnsUi": {
          "columnValues": {
            "guest_name": "={{ $json.guest_name }}",
            "guest_email": "={{ $json.guest_email }}",
            "guest_phone": "={{ $json.guest_phone }}",
            "check_in": "={{ $json.check_in }}",
            "check_out": "={{ $json.check_out }}",
            "guests": "={{ $json.guests_count }}",
            "total_price": "={{ $json.total_amount }}",
            "booking_reference": "={{ $json.booking_reference }}",
            "channel": "={{ $json.channel }}",
            "status": "={{ $json.status }}",
            "property_id": "={{ $json.property_id }}",
            "nights": "={{ $json.nights }}",
            "payment_status": "pending",
            "notes": "Imported from DOMUS (Booking.com)"
          }
        },
        "options": {}
      },
      "id": "supabase-insert",
      "name": "Insert into Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1350, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_myhost",
          "name": "MY HOST Supabase"
        }
      }
    },
    {
      "parameters": {
        "url": "https://n8n-production-bb2d.up.railway.app/webhook/booking-created",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "trigger-confirmation",
      "name": "Trigger Booking Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200]
    },
    {
      "parameters": {},
      "id": "no-reservations",
      "name": "No New Reservations",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [910, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "DOMUS Get Reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOMUS Get Reservations": {
      "main": [
        [
          {
            "node": "Has New Reservations?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Reservations?": {
      "main": [
        [
          {
            "node": "Split Reservations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Reservations": {
      "main": [
        [
          {
            "node": "Map to Supabase Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Supabase Format": {
      "main": [
        [
          {
            "node": "Insert into Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase": {
      "main": [
        [
          {
            "node": "Trigger Booking Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "myhost-bizmate-n8n"
  },
  "id": "domus-polling-reservations",
  "tags": []
}
