n8n_worlkflow_claude/New Booking  notification(Izumi Hotel) MYHOST Bizmate VII.json
{
  "name": "New Booking  notification(Izumi Hotel) MYHOST Bizmate VII",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-booking-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1136,
        48
      ],
      "id": "06f6ff52-ea14-4ae1-853a-6c61c4f4c186",
      "name": "Webhook - New Booking",
      "webhookId": "new-booking-notification"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"booking_id\": \"{{ $json.body.record.id || 'N/A' }}\",\n  \"guest_name\": \"{{ $json.body.record.guest_name || 'No name' }}\",\n  \"guest_email\": \"{{ $json.body.record.guest_email || 'No email' }}\",\n  \"guest_phone\": \"{{ $json.body.record.guest_phone || 'No phone' }}\",\n  \"check_in\": \"{{ $json.body.record.check_in || 'N/A' }}\",\n  \"check_out\": \"{{ $json.body.record.check_out || 'N/A' }}\",\n  \"guests\": {{ $json.body.record.guests || 1 }},\n  \"total_price\": {{ $json.body.record.total_price || 0 }},\n  \"status\": \"{{ $json.body.record.status || 'inquiry' }}\",\n  \"channel\": \"{{ $json.body.record.channel || 'direct' }}\",\n  \"created_at\": \"{{ $json.body.record.created_at || 'N/A' }}\",\n  \"property_id\": \"{{ $json.body.record.property_id || '' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        48
      ],
      "id": "eb6a0387-9c01-4ed4-a454-7b7caf95f87c",
      "name": "Format Booking Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chakrahq.com/v1/ext/plugin/whatsapp/2e45a0bd-8600-41b4-ac92-599d59d6221c/api/v19.0/944855278702577/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer qiu1Z9eA3i2hhNjVM3Dm7QEK1Ey6iKQUE5IDWJlsFSAqXk5OlmQoD6DhqEwv9TOdgOVRWSYLWGxm6HfCs2LeCuwiU8Poqrw2Rgmvih0iEawZhoL6TTmMjVjvDUw2WuygAQgQ1vIeLCreDAKOGymGQCuR5bUYDHrRQQrvoMZLYwHw0LaGhFUuf4GxLpQbV3AQj8JDjhP2MzsCUYT4EVCARX6cODl1d1udr4pITGOmHQ793MUBtptq4XCvC8OGD3g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"34619794604\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"🔔 *NEW BOOKING*\\n\\n👤 *Guest:* {{ $('Format Booking Data').item.json.guest_name }}\\n📧 *Email:* {{ $('Format Booking Data').item.json.guest_email }}\\n📱 *Phone:* {{ $('Format Booking Data').item.json.guest_phone }}\\n🏨 *Hotel:* {{ $json.name }}\\n📍 *Location:* Jl Raya Andong N. 18, Ubud, Bali\\n📅 *Check-in:* {{ $('Format Booking Data').item.json.check_in }}\\n📅 *Check-out:* {{ $('Format Booking Data').item.json.check_out }}\\n👥 *Guests:* {{ $('Format Booking Data').item.json.guests }}\\n💰 *Total:* ${{ $('Format Booking Data').item.json.total_price }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -464,
        160
      ],
      "id": "8d07a03a-75f7-4d33-963d-fadd55df6df0",
      "name": "Send WhatsApp to Staff"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"success\": true, \"message\": \"Notification sent\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -176,
        0
      ],
      "id": "86066265-e4d3-4c5a-82af-2b2924613d25",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.property_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -752,
        48
      ],
      "id": "463047c8-94d2-49c5-bfa0-d190f8e1018e",
      "name": "Get Property Info",
      "credentials": {
        "supabaseApi": {
          "id": "SJLQzwU9BVHEVAGc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chakrahq.com/v1/ext/plugin/whatsapp/2e45a0bd-8600-41b4-ac92-599d59d6221c/api/v19.0/944855278702577/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer qiu1Z9eA3i2hhNjVM3Dm7QEK1Ey6iKQUE5IDWJlsFSAqXk5OlmQoD6DhqEwv9TOdgOVRWSYLWGxm6HfCs2LeCuwiU8Poqrw2Rgmvih0iEawZhoL6TTmMjVjvDUw2WuygAQgQ1vIeLCreDAKOGymGQCuR5bUYDHrRQQrvoMZLYwHw0LaGhFUuf4GxLpQbV3AQj8JDjhP2MzsCUYT4EVCARX6cODl1d1udr4pITGOmHQ793MUBtptq4XCvC8OGD3g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{$('Format Booking Data').item.json.guest_phone}}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"✅ *Booking Confirmed*\\n\\nHello {{$('Format Booking Data').item.json.guest_name}},\\n\\nYour booking has been confirmed!\\n\\n🏨 *Hotel:* {{$json.name}}\\n📍 *Location:* Jl Raya Andong N. 18, Ubud, Bali\\n📅 *Check-in:* {{$('Format Booking Data').item.json.check_in}}\\n📅 *Check-out:* {{$('Format Booking Data').item.json.check_out}}\\n👥 *Guests:* {{$('Format Booking Data').item.json.guests}}\\n💰 *Total:* ${{$('Format Booking Data').item.json.total_price}}\\n\\nWe look forward to welcoming you! 🌺\\n\\n📞 CONTACT IZUMI HOTEL\\nWhatsApp: +62 813 2576 4867 (24/7)\\nPhone: +62 813 2576 4867 (8:00-22:00)\\nWeb: www.my-host-bizmate.com (Voice assistant 24/7)\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -464,
        0
      ],
      "id": "d098f23a-c2c1-4ed2-9b7a-f0889c9a7dcf",
      "name": "WhatsApp to Guest"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "josecarrallodelafuente@gmail.com",
        "fromName": "MY HOST BizMate",
        "toEmail": "={{$('Format Booking Data').item.json.guest_email}}",
        "subject": "=✅ Booking Confirmed - {{$json.name}}",
        "contentValue": "=Hello {{$('Format Booking Data').item.json.guest_name}}!\n\nYour booking has been successfully confirmed.\n\n🏨 YOUR BOOKING DETAILS:\n━━━━━━━━━━━━━━━━━━━━━━━━━\nHotel: {{$json.name}}\nLocation: Jl Raya Andong N. 18, Ubud, Bali\nCheck-in: {{$('Format Booking Data').item.json.check_in}}\nCheck-out: {{$('Format Booking Data').item.json.check_out}}\nGuests: {{$('Format Booking Data').item.json.guests}}\nTotal: ${{$('Format Booking Data').item.json.total_price}}\n\nWe look forward to welcoming you! 🌺\n\n📞 CONTACT IZUMI HOTEL\nWhatsApp: +62 813 2576 4867 (24/7)\nPhone: +62 813 2576 4867 (8:00-22:00)\nWeb: www.my-host-bizmate.com (Voice assistant 24/7)\n\nThe MY HOST BizMate Team",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        -464,
        -176
      ],
      "id": "44a2be1b-2152-435d-86c2-da12360bb4e6",
      "name": "Send an email",
      "credentials": {
        "sendGridApi": {
          "id": "Y35BYbcV5SYfjBwc",
          "name": "SendGrid account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - New Booking": {
      "main": [
        [
          {
            "node": "Format Booking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Booking Data": {
      "main": [
        [
          {
            "node": "Get Property Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp to Staff": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Property Info": {
      "main": [
        [
          {
            "node": "WhatsApp to Guest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp to Staff",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp to Guest": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d2e7cfe0-03a6-45eb-840c-c141318debf7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "F8YPuLhcNe6wGcCv",
  "tags": []
}