n8n_worlkflow_claude/Vapi Izumi Hotel - MYHOST Bizmate IX.json
{
  "name": "Vapi Izumi Hotel - MYHOST Bizmate IX",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-izumi-fix",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bd8e618a-848c-4ba6-aa7c-3366c5901d44",
      "name": "Webhook for vapi",
      "type": "n8n-nodes-base.webhook",
      "position": [
        64,
        -80
      ],
      "webhookId": "vapi-izumi-fix",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-field",
              "name": "id",
              "type": "string",
              "value": "={{ $json.body.message.toolCallList[0].id }}"
            },
            {
              "id": "question-field",
              "name": "question",
              "type": "string",
              "value": "=={{ $json.body.message.toolCallList[0].function.arguments.user_query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "28dd3551-8c5c-42e1-834a-db1f46cb8bb8",
      "name": "Keep Session id & Query",
      "type": "n8n-nodes-base.set",
      "position": [
        368,
        -80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "8352690d-2ecb-44ca-bba5-c4b419685abe",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        496,
        160
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "hlVVk9ThwmKbr4yS",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Keep Session id & Query').item.json.id }}"
      },
      "id": "f3a2c730-7816-49e9-a401-fd319ad25046",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1136,
        144
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Keep Session id & Query').item.json.id }}\",\n      \"result\": \"{{ $json.output }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "1dd76398-33a6-4c8e-8580-2bb159874833",
      "name": "Respond to Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1072,
        -80
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "toolDescription": "Consulta la disponibilidad de habitaciones en Izumi Hotel para fechas específicas. Usa esta herramienta cuando el usuario pregunte si hay disponibilidad, si puede reservar, o quiera saber si hay habitaciones libres. Requiere fecha de check-in y check-out en formato YYYY-MM-DD.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/check_availability",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_property_id\": \"18711359-1378-4d12-9ea6-fb31c0b1bac2\",\n  \"p_check_in\": \"{{ $fromAI('check_in', 'fecha de llegada en formato YYYY-MM-DD') }}\",\n  \"p_check_out\": \"{{ $fromAI('check_out', 'fecha de salida en formato YYYY-MM-DD') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        688,
        144
      ],
      "id": "a2d943d6-b84f-4fe1-be66-39c7cdd460ce",
      "name": "Check availability"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.question }}",
        "options": {
          "systemMessage": "You are Ayu, the virtual receptionist at Izumi Hotel, a luxury 5-star boutique hotel in Ubud, Bali.\n\nHOTEL INFO:\n- Location: Jl Raya Andong N. 18, Ubud, Bali\n- Check-in: 2:00 PM | Check-out: 12:00 PM\n- Opening: Summer 2026\n\nROOMS AND PRICES:\n- Tropical Room: $450/night\n- River Villa: $500/night\n- Nest Villa: $525/night\n- Cave Villa: $550/night\n- Sky Villa: $550/night\n- Blossom Villa: $600/night\n- 5BR Villa: $2,500/night\n\nTOOLS - USE THEM:\n- Check Availability: Use when user asks about availability or wants to book. Requires check_in and check_out in YYYY-MM-DD format.\n- Calculate Price: Use to calculate total price. Requires check_in, check_out, number of guests.\n- Create Booking: Use when you have ALL data: guest name, email, phone, check-in, check-out, number of guests, and total_price. You MUST include the total_price from the Calculate Price result.\n\nRULES:\n1. Detect user language and respond in same language\n2. Keep responses short and friendly\n3. When user wants to book, ask for: dates, number of guests, room preference\n4. ALWAYS use Calculate Price first, then pass that exact price number to Create Booking as total_price\n5. Never use quotes (\") in your responses, use single quotes (') instead"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        624,
        -80
      ],
      "id": "10fa1094-5201-4cf5-98ae-38a0820d0a90",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "toolDescription": "Crea una pre-reserva en Izumi Hotel. Usa esta herramienta cuando el usuario confirme que quiere reservar y hayas recopilado: nombre completo, email, teléfono, fechas de check-in/check-out y número de huéspedes.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"property_id\": \"18711359-1378-4d12-9ea6-fb31c0b1bac2\",\n  \"guest_name\": \"{{ $fromAI('guest_name', 'nombre completo del huésped') }}\",\n  \"guest_email\": \"{{ $fromAI('guest_email', 'email del huésped') }}\",\n  \"guest_phone\": \"{{ $fromAI('guest_phone', 'teléfono del huésped con código de país') }}\",\n  \"check_in\": \"{{ $fromAI('check_in', 'fecha de llegada en formato YYYY-MM-DD') }}\",\n  \"check_out\": \"{{ $fromAI('check_out', 'fecha de salida en formato YYYY-MM-DD') }}\",\n  \"guests\": {{ $fromAI('guests', 'número de huéspedes como número entero') }},\n  \"total_price\": {{ $fromAI('total_price', 'precio total en dólares como número sin símbolo, por ejemplo 1400') }},\n  \"status\": \"inquiry\",\n  \"channel\": \"direct\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        992,
        144
      ],
      "id": "fb576a93-f51b-42b5-8458-8b6425a49d06",
      "name": "Create Booking1"
    },
    {
      "parameters": {
        "toolDescription": "Calcula el precio total de una estancia en Izumi Hotel. Usa esta herramienta cuando el usuario pregunte cuánto cuesta, el precio total, o quiera una cotización.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/calculate_booking_price",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_property_id\": \"18711359-1378-4d12-9ea6-fb31c0b1bac2\",\n  \"p_check_in\": \"{{ $fromAI('check_in', 'fecha de llegada en formato YYYY-MM-DD') }}\",\n  \"p_check_out\": \"{{ $fromAI('check_out', 'fecha de salida en formato YYYY-MM-DD') }}\",\n  \"p_guests\": \"{{ $fromAI('guests', 'número de huéspedes') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        848,
        144
      ],
      "id": "79a01610-8cc6-48ec-ba47-1b17636735d7",
      "name": "Calculate Price"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook for vapi": {
      "main": [
        [
          {
            "node": "Keep Session id & Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Keep Session id & Query": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Booking1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Price": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6547d200-e4da-42ba-9a14-10e147e87aef",
  "meta": {
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "3sU4RgV892az8nLZ",
  "tags": []
}