n8n_worlkflow_claude/WhatsApp AI Agent - Izumi Hotel (ChakraHQ) - MY HOST Bizmate V2 12122025.json
{
  "name": "WhatsApp AI Agent - Izumi Hotel (ChakraHQ) - MY HOST Bizmate V",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "894ed1af-89a5-44c9-a340-6e571eacbd53",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        0
      ],
      "id": "1b471894-a0d6-4bfc-a71d-360680fb3387",
      "name": "Webhook",
      "webhookId": "894ed1af-89a5-44c9-a340-6e571eacbd53"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
        "options": {
          "systemMessage": "Eres el asistente virtual de Izumi Hotel, un hotel boutique de lujo 5 estrellas ubicado en Ubud, Bali, especializado en bienestar holístico, tratamientos médicos integrales y sanación transformadora.\n\nINFORMACIÓN DEL HOTEL:\n📍 Ubicación: Jl Raya Andong N. 18, Ubud, Bali, Indonesia\n⏰ Check-in: 14:00 | Check-out: 12:00\n❌ Cancelación: Gratuita hasta 24 horas antes de la llegada\n🗓️ Apertura: Verano 2026 (aceptamos pre-reservas)\n\nALOJAMIENTOS Y TARIFAS:\n- Tropical Room: $450/noche\n- River Villa: $500/noche\n- Nest Villa: $525/noche\n- Cave Villa: $550/noche\n- Sky Villa: $550/noche\n- Blossom Villa: $600/noche\n- 5BR Villa (ideal familias/grupos): $2,500/noche\n\nREGLAS DE CONVERSACIÓN:\n\n1. IDIOMA: Detecta el idioma del usuario y responde en el mismo idioma.\n\n2. TONO: Amable, profesional y cálido.\n\n3. HERRAMIENTAS DISPONIBLES - USA SIEMPRE QUE SEA NECESARIO:\n   - Check Availability: Para consultar disponibilidad de fechas\n   - Calculate Price: Para calcular el precio total de una estancia\n   - Create Booking: Para crear pre-reservas cuando tengas TODOS los datos\n\n4. PROCESO DE RESERVA:\n   Cuando un usuario quiera reservar, sigue este orden:\n   a) Primero pregunta: fechas de check-in/check-out, número de huéspedes y tipo de habitación preferida\n   b) Después pide EN UN SOLO MENSAJE: nombre completo, email y teléfono con código de país\n   c) Una vez tengas TODOS los datos, usa la herramienta Create Booking para crear la pre-reserva\n\n5. HANDOFF A HUMANO - SOLO en estos casos:\n   - El usuario pide explícitamente hablar con una persona\n   - Quejas o problemas urgentes\n   - Cancelación o modificación de reserva existente\n   - Negociación de precios o descuentos\n   - Grupos de +10 personas o eventos\n   \n   Respuesta de handoff: \"Voy a conectarte con nuestro equipo. Te contactarán pronto (8:00-22:00 hora Bali). WhatsApp: +62 813 2576 4867 / Email: reservations@izumi-hotel.com\"\n\n6. LIMITACIONES:\n   - No inventes información\n   - No prometas descuentos"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -192,
        0
      ],
      "id": "8af3f827-7cbc-475d-9011-04945eb00997",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -480,
        192
      ],
      "id": "adbdc55d-ba07-49c2-a4f2-32560fb446fd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hlVVk9ThwmKbr4yS",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chakrahq.com/v1/ext/plugin/whatsapp/2e45a0bd-8600-41b4-ac92-599d59d6221c/api/v19.0/944855278702577/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer qiu1Z9eA3i2hhNjVM3Dm7QEK1Ey6iKQUE5IDWJlsFSAqXk5OlmQoD6DhqEwv9TOdgOVRWSYLWGxm6HfCs2LeCuwiU8Poqrw2Rgmvih0iEawZhoL6TTmMjVjvDUw2WuygAQgQ1vIeLCreDAKOGymGQCuR5bUYDHrRQQrvoMZLYwHw0LaGhFUuf4GxLpQbV3AQj8JDjhP2MzsCUYT4EVCARX6cODl1d1udr4pITGOmHQ793MUBtptq4XCvC8OGD3g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"messaging_product\": \"whatsapp\",\n  \"to\": $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from,\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": $('AI Agent').item.json.output\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        0
      ],
      "id": "2967197b-0615-4157-b5d8-80e03b43cd69",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4cf0e8d2-dc31-4802-8078-25bfa450fe8d",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages ? 'mensaje' : 'status' }}",
              "rightValue": "mensaje",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -400,
        0
      ],
      "id": "a94f534f-dd36-4ef5-b1ed-dfb0a1c6c912",
      "name": "Filter"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -320,
        192
      ],
      "id": "2fb43d19-1414-4644-a95e-b4fefbc27039",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Consulta la disponibilidad de habitaciones en Izumi Hotel para fechas específicas. Usa esta herramienta cuando el usuario pregunte si hay disponibilidad, si puede reservar, o quiera saber si hay habitaciones libres. Requiere fecha de check-in y check-out en formato YYYY-MM-DD.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/check_availability",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_property_id\": \"18711359-1378-4d12-9ea6-fb31c0b1bac2\",\n  \"p_check_in\": \"{{ $fromAI('check_in', 'fecha de llegada en formato YYYY-MM-DD') }}\",\n  \"p_check_out\": \"{{ $fromAI('check_out', 'fecha de salida en formato YYYY-MM-DD') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -176,
        192
      ],
      "id": "4523e668-22b3-49d8-ae90-16cf28b909a8",
      "name": "Check Availability"
    },
    {
      "parameters": {
        "toolDescription": "Calcula el precio total de una estancia en Izumi Hotel. Usa esta herramienta cuando el usuario pregunte cuánto cuesta, el precio total, o quiera una cotización.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/rpc/calculate_booking_price",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_property_id\": \"18711359-1378-4d12-9ea6-fb31c0b1bac2\",\n  \"p_check_in\": \"{{ $fromAI('check_in', 'fecha de llegada en formato YYYY-MM-DD') }}\",\n  \"p_check_out\": \"{{ $fromAI('check_out', 'fecha de salida en formato YYYY-MM-DD') }}\",\n  \"p_guests\": \"{{ $fromAI('guests', 'número de huéspedes') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -16,
        192
      ],
      "id": "7364f49f-326c-49d4-b398-cf874ceda312",
      "name": "Calculate Price"
    },
    {
      "parameters": {
        "toolDescription": "Crea una pre-reserva en Izumi Hotel. Usa esta herramienta cuando el usuario confirme que quiere reservar y hayas recopilado: nombre completo, email, teléfono, fechas de check-in/check-out y número de huéspedes.",
        "method": "POST",
        "url": "https://jjpscimtxrudtepzwhag.supabase.co/rest/v1/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcHNjaW10eHJ1ZHRlcHp3aGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NDMyMzIsImV4cCI6MjA3ODUxOTIzMn0._U_HwdF5-yT8-prJLzkdO_rGbNuu7Z3gpUQW0Q8zxa0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"property_id\": \"18711359-1378-4d12-9ea6-fb31c0b1bac2\",\n  \"guest_name\": \"{{ $fromAI('guest_name', 'nombre completo del huésped') }}\",\n  \"guest_email\": \"{{ $fromAI('guest_email', 'email del huésped') }}\",\n  \"guest_phone\": \"{{ $fromAI('guest_phone', 'teléfono del huésped con código de país') }}\",\n  \"check_in\": \"{{ $fromAI('check_in', 'fecha de llegada en formato YYYY-MM-DD') }}\",\n  \"check_out\": \"{{ $fromAI('check_out', 'fecha de salida en formato YYYY-MM-DD') }}\",\n  \"guests\": {{ $fromAI('guests', 'número de huéspedes como número entero') }},\n  \"total_price\": 0,\n  \"status\": \"inquiry\",\n  \"channel\": \"direct\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        160,
        192
      ],
      "id": "c6a32ec2-3016-4bf7-a9bd-05c33dbae8dd",
      "name": "Create Booking"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Price": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae676a24-47b4-462a-8ee4-1aa60da58e0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca7bc7f182c365457ea4a94a4dc2efe81c23590ab8904858ce5cabfbdd56e40f"
  },
  "id": "ln2myAS3406D6F8W",
  "tags": []
}